$color_1: #fff;
$color_2: #5dc5e3;
$color_3: #323232;
$color_5: #d8358d;
$color_6: #da2d2a;
$color_7: #65d2b9;
$color_8: #769c00;
$color_9: #9b9b9b;
$color_10: #1a96d2;
$color_11: #dfdfdf;
$color_12: #c6c6c6;
$color_13: #c68916;
$color_14: #333;
$color_15: #999;
$color_16: #666;
$color_17: #33aaff;
$color_18: #f6f6f6;
$color_19: #d0cdc7;
$color_20: rgba(50, 50, 50, 0.2);
$color_21: #dc6a21;
$color_23: #363636;
$color_24: #8b8a87;
$color_25: #f8b840;
$color_26: #b50a13;
$color_27: black;
$color_28: red;
$font-family_1: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
$font-family_2: "HEMA-foto-icons";
$font-family_3: HEMA-foto-icons;
$font-family_4: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family_5: inherit;
$background-color_1: #fff;
$background-color_2: #f1efeb;
$background-color_3: transparent;
$background-color_4: #323232;
$background-color_5: #dfdfdf;
$background-color_6: #5dc5e3;
$background-color_7: #f6f6f6;
$background-color_8: #36acce;
$background-color_9: #d0cdc7;
$background-color_10: #f8b840;
$background-color_11: #e99800;
$background-color_12: #9ac122;
$background-color_13: #fdf2e5;
$background-color_14: rgba(50, 50, 50, 0.5);
$background-color_16: rgba(93, 197, 227, 0.2);
$background-color_17: #f7f5f3;
$background-color_18: rgba(109, 98, 61, 0.15);
$background-color_19: #9c1aff;
$background-color_20: rgba(93, 197, 227, 0.5);
$background-color_21: #cbeef7;
$background-color_22: rgba(54, 49, 41, 0.9);
$background-color_23: #bae8f5;
$border-color_1: inherit;
$border-color_2: #323232;
$border-color_3: #fff;
$border-color_4: #d0cdc7;
$border-color_5: #9b9b9b;
$border-color_6: #5dc5e3;
$border-color_7: #dc6a21;
$border-color_8: #9ac122;
$border-color_9: #d0cdc7 transparent transparent transparent;
$border-top-color_1: #9b9b9b;
$border-bottom-color_1: #bbb;
$border-bottom-color_2: #d0cdc7;
$border-bottom-color_3: #dfdfdf;