@import "config";
@import "font";
@import "keyframes";
@import "responsive";
@import "utility";



html {
	margin: 0;
	padding: 0;
	font-family: $font-family_1;
	font-weight: 400;
	font-size: 62.5%;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
	font-size: 62.5%;
	text-size-adjust: 100%;
}
body {
	margin: 0;
	padding: 0;
	background-color: $background-color_1;
	text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "kern";
	-moz-font-feature-settings: "liga", "kern";
	&::after {
		display: none;
	}
}
body.grid-show {
	&::after {
		display: block;
	}
}
.page-wrapper {
	padding-top: 105px;
	.container {
		padding: 0 20px;
		@include md {
			padding: 0 10px;
		}
	}
}
.page-wrapper.scrolled-force {
	padding-top: 70px;
}
.page-wrapper.checkout {
	background-color: $background-color_2;
}

figure {
	margin: 0;
}

[data-back-to-top] {
	display: inline-block;
	margin: 16px 0 0 !important;
	line-height: 4rem;
	transition: color linear 0.2s;
	cursor: pointer !important;
	[class^=icon-] {
		margin-left: 5px;
	}
	[class*=icon-] {
		margin-left: 5px;
	}
	&:hover {
		color: $color_3;
	}
}




svg {
	overflow: hidden;
}
::placeholder {
	opacity: 1;
	line-height: 2rem;
	font-weight: 400;
	color: $color_19;
	font-size: 1.5rem;
}
::selection {
	background-color: $background-color_4;
	color: $color_1;
}






.header {
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px;
	padding: 20px 0 10px 0;
	width: 100%;
	background-color: $background-color_1;
	border-bottom: 1px solid transparent;
	transition: all 0.3s ease-in;
	transition: top 0s;
	z-index: 9;

	&-navigation {
		flex: 1;
		margin-left: 20px;
		font-family: $font-family_1;
		font-weight: 600;
		transition: all 0.3s ease-out;
		@include md {
			margin-left: 10px;
		}
		.main-navigation {
			position: relative;
			background-color: $background-color_1;
			height: auto;
			visibility: visible;
			width: 100%;
			margin-top: auto;
			transition: all 0s;
			@include md {
				position: absolute;
				left: 0;
				top: 101px;
				visibility: hidden;
				height: 0;				
			}
			.nav {
				&-item {
					.nav-link {
						font-family: $font-family_1;
						font-weight: 600;
						text-decoration: none;
						color: $color_3;
						font-size: 1.5rem;
						line-height: 1.7rem;
						letter-spacing: 0.035em;
						transition: color 0.3s ease-in-out;
						width: 100%;
						line-height: 4rem;
						position: relative;
						text-transform: lowercase;
						&:hover {
							color: $color_2;
						}
						@include md {
							line-height: 16px;
							padding: 12px 50px 11px 20px;
						}
					}
					display: inline-flex;
				}
				@include md {
					display: flex;
					flex-direction: column;
					padding: 0;
				}
			}
		
			>ul.nav {
				.switch {
					position: relative;
					display: inline-flex;
					align-items: center;
					border: 3px solid #5dc5e3;
					border-radius: 5px;
					background-color: $background-color_6;
					>a {
						padding: 11px 20px 9px 20px;
						color: $color_1;
						border-radius: 5px;
						transition: color 0.2s ease-in-out;
						&.active {
							background-color: $background-color_1;
							color: $color_3;
							pointer-events: none;
						}
						@include hover-device{
							&:not(.active){
								&:hover{
									color: $color_3;
								}
							}
						}
					}
				}
				>li.btn-primary {
					>a {
						color: inherit;
					}
				}
				@include lg {
					padding: 0 20px 10px;
				}
			}
			.top-links-mobile {
				position: relative;
				display: none;
				visibility: hidden;
				padding-top: 10px;
				margin: 10px 0;
				
				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 20px;
					right: 20px;
					height: 1px;
					background-color: $background-color_9;
					display: block;
				}
			}
			&.is-open{
				.top-links-mobile {
					@include md {
						display: block;
						visibility: visible;
					}
				}
			}
			&.is-open{
				@include md {
					height: calc(100vh - 101px);
					visibility: visible;
					width: 100%;
				}			
			}
		}
		.menu-toggle {
			position: relative;
			display: none;
			padding-left: 32px;
			background-color: $background-color_6;
			box-shadow: inset 0 -1px 0 0 #4ba7c2;
			border-radius: 4px;
			font-size: 1.5rem;
			color: $color_1;
			margin-top: auto;
			z-index: 12;
			text-decoration: none;
			height: 50px;
			align-items: center;
			@include md {
				display: flex;
			}
			.hamburger {
				position: absolute;
				background-color: $background-color_1;
				left: 14px;
				width: 12px;
				height: 2px;
				&:before {
					content: "";
					position: absolute;
					width: 100%;
					height: 2px;
					background-color: $background-color_1;
					left: 0;
					top: -5px;
				}
				&:after {
					content: "";
					position: absolute;
					width: 100%;
					height: 2px;
					background-color: $background-color_1;
					left: 0;
					bottom: -5px;
				}
			}
			.open-text {
				margin-left: 6px;
			}
			.close-text {
				margin-left: 6px;
				display: none;
			}
			@include md {
				display: flex;
			}
		}
	}
	
	&-wrapper {
		padding: 0 20px;
		display: flex;
		align-items: flex-end;
		max-width: 1280px;
		margin: 0 auto;
		@include md {
			padding: 0 10px;
		}
	}
	&-logo {
		width: 70px;
		transition: all 0.3s ease-in;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&-links {
		display: block;
		opacity: 1;
		height: 20px;
		visibility: visible;
		width: 100%;
		position: fixed;
		left: 0;
		top: 20px;
		transition: all 0.3s ease-in;
		@include md {
			display: none;
			visibility: hidden;
		}
		.wrapper {
			max-width: 1280px;
			padding-left: 110px;
			padding-right: 20px;
			margin: 0 auto;
			transition: padding-left 0.3s ease-in;
		}
		ul {
			display: flex;
			li.last {
				justify-self: flex-end;
				margin-left: auto;
				margin-right: 0;
				width: auto;
			}
			li {
				a {
					font-size: 1.5rem !important;
				}
				+ {
					li {
						margin-left: 20px;
					}
				}
			}
		}
	}
	&.scrolled {
		padding: 10px 0;
		border-bottom-color: $border-bottom-color_3;
		@include md {
			padding: 5px 0;			
		}
		.header-logo {
			width: 40px;
			@include md {
				width: 50px;		
			}
		}
		.header-navigation {
			.top-links {
				opacity: 0;
				transform: translate(-30px, -90px);
				height: 0;
			}
		}
		.header-links {
			top: -20px;
			opacity: 0;
			.wrapper {
				padding-left: 70px;
			}
		}
		.menu-open {
			.main-navigation {
				top: 61px;
			}
		}
	}
	&.menu-open{
		@include md {
		.menu-toggle{
				background-color: $background-color_1;
				color: $color_1;
				border-radius: 4px 4px 0 0;
				box-shadow: none;
		
			&:after{						
				content: "";
				position: absolute;
				top: 50px;
				left: 0;
				width: 100%;
				height: 10px;
				background-color: $background-color_1;
				display: block;
	
			}
			.hamburger{
			
					background-color: $background-color_6;
					background: none;
		
				&:after {
					background-color: $background-color_6;
					top: 0;
					transform: rotate(45deg);
				}

				&:before {
					background-color: $background-color_6;
					top: 0;
					transform: rotate(-45deg);
				}
			}
			.open-text{
					display: none;
			}
			.close-text{
					color:$color_2;
					display: block;
				}
			}
		}
		.main-navigation{	
				padding: 20px 0;		
		}
		.backdrop{
			@include md {
				opacity: 1;
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(109, 98, 61, 0.15);
				z-index: 10;
				transition: all 0.3s ease-out;
			}
		}
	}
}



.back-to-top {
	display: block;
	position: fixed;
	bottom: -65px;
	right: 20px;
	width: 40px;
	height: 39px;
	margin: 0;
	border: 1px solid #d0cdc7;
	border-bottom: none;
	border-radius: 4px 4px 0 0;
	background-image: url(../img/icon-back-to-top.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: $background-color_1;
	will-change: transform;
	z-index: 8;
	transition: 0.3s ease-in;
}
.back-to-top.visible {
	bottom: 0;
}

.btn-cta {
	display: inline-block;
	position: relative;
	padding: 11px 20px 9px 20px;
	font-family: $font-family_1;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1.8rem;
	vertical-align: top;
	white-space: nowrap;
	cursor: pointer;
	border-radius: 4px;
	height: 40px;
	text-align: center;
	background-color: $background-color_10;
	color: $color_1;
	box-shadow: inset 0 -1px 0 0 #D69E34;
	&:hover {
		background-color: $background-color_11;
		color: $color_1 !important;
	}
	&:focus {
		background-color: $background-color_11;
		color: $color_1 !important;
	}
}
.btn-secondary {
	display: inline-block;
	position: relative;
	padding: 11px 20px 9px 20px;
	font-family: $font-family_1;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1.8rem;
	vertical-align: top;
	white-space: nowrap;
	cursor: pointer;
	border-radius: 4px;
	height: 40px;
	text-align: center;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out border-radius 0.3s ease-in-out;
	background-color: $background-color_5;
	color: $color_3;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
	&:hover {
		background-color: $background-color_9;
		color: $color_3;
	}
	&:focus {
		background-color: $background-color_9;
		color: $color_3;
	}
}
.btn-primary {
	display: inline-block;
	position: relative;
	padding: 11px 20px 9px 20px;
	font-family: $font-family_1;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1.8rem;
	vertical-align: top;
	white-space: nowrap;
	cursor: pointer;
	border-radius: 4px;
	height: 40px;
	text-align: center;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out border-radius 0.3s ease-in-out;
	background-color: $background-color_6;
	color: $color_1;
	box-shadow: 0 1px 0 0 #4BA7C2;
	&:hover {
		background-color: $background-color_8;
		color: $color_1;
	}
	&:focus {
		background-color: $background-color_8;
		color: $color_1;
	}
}

.is-square.btn-cta {
	width: 40px;
	height: 40px;
	padding: 0;
}
.is-square.btn-secondary {
	width: 40px;
	height: 40px;
	padding: 0;
}
.is-square.btn-primary {
	width: 40px;
	height: 40px;
	padding: 0;
}

.disabled.btn-cta {
	background-color: $background-color_7 !important;
	color: $color_11 !important;
	box-shadow: none;
	pointer-events: none;
	display: flex;
}
.disabled.btn-secondary {
	background-color: $background-color_7 !important;
	color: $color_11 !important;
	box-shadow: none;
	pointer-events: none;
	display: flex;
}
.disabled.btn-primary {
	background-color: $background-color_7 !important;
	color: $color_11 !important;
	box-shadow: none;
	pointer-events: none;
	display: flex;
}

.loading.btn-cta {
	&:before {
		content: "";
		box-sizing: border-box;
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 2px solid #ccc;
		border-top-color: $border-top-color_1;
		animation: spinner 0.6s linear infinite;
		margin-right: 15px;
	}
}
.loading.btn-secondary {
	&:before {
		content: "";
		box-sizing: border-box;
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 2px solid #ccc;
		border-top-color: $border-top-color_1;
		animation: spinner 0.6s linear infinite;
		margin-right: 15px;
	}
}
.loading.btn-primary {
	&:before {
		content: "";
		box-sizing: border-box;
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 2px solid #ccc;
		border-top-color: $border-top-color_1;
		animation: spinner 0.6s linear infinite;
		margin-right: 15px;
	}
}

.disabled-black.btn-cta {
	background-color: $background-color_7 !important;
	color: $color_3 !important;
	box-shadow: none;
	pointer-events: none;
}
.disabled-black.btn-secondary {
	background-color: $background-color_7 !important;
	color: $color_3 !important;
	box-shadow: none;
	pointer-events: none;
}
.disabled-black.btn-primary {
	background-color: $background-color_7 !important;
	color: $color_3 !important;
	box-shadow: none;
	pointer-events: none;
}


.card-white {
	display: block;
	background-color: $background-color_1;
	padding: 28px;
	border-radius: 12px;
	.card-header {
		.h2 {
			text-transform: lowercase;
			font-family: $font-family_1;
			font-weight: 700;
			+ {
				p {
					margin-top: 10px;
				}
			}
		}

		.h1 {
			+ {
				p {
					margin-top: 10px;
				}
			}
		}
		+ {
			.card-content {
				margin-top: 15px;
			}
		}
	}
}
.minicart {
	display: flex;
}
.minicart-trigger {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	width: 100%;
	min-width: 100px;
	margin-left: 10px;
	padding: 0 15px 0 10px;
	user-select: none;
	cursor: pointer;
	.cart-icon {
		position: relative;
		width: 27px;
		height: 27px;
		
		.count {
			position: absolute;
			font-size: 1rem;
			top: 6px;
			left: 10px;
			z-index: 2;
		}
	}
	.minicart-price {
		display: block;
		font-size: 1.6rem;
		font-weight: 600;
		margin-left: 10px;
		.product-price {
			font-size: 1.6rem;
			line-height: 1.6rem;
			display: flex;
			align-items: baseline;
			font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
			font-weight: 700;
		}
		.price {
			font-size: 1.6rem;
			line-height: 1.6rem;
		}
		sub{
			position: relative;
			top: -3.84px;
			left: -3.84px;
			font-size: 60%;
			display: inline-block;
			&:not(.decimal) {
				transform: scaleY(1.4);
			}
		}
		@include md {
			display: none;
		}
	}
	&:hover {
		color: $color_1;
	}
	@include md {
		width: 50px;
		min-width: auto;
		height: 50px;
		padding: 0 10px;
		justify-content: center;
	}
}


.seo-block {
	.card-header {
		padding-bottom: 15px;
		.h2 {
			color: $color_2;
		}
		.account {
			.accountmenu-sidebar {
				header {
					>.title {
						color: $color_2;
					}
				}
			}
		}
		
	}
}
.text-and-image {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	min-height: 300px;
	border-radius: 12px;
	overflow: hidden;
	@include md {
		grid-template-columns: 1fr;
	}
	.image {
		position: relative;
		display: block;
		>img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			position: absolute;
			top: 0;
			left: 0;	
			@include md {
				position: static;				
			}
		}
	}
	.text-block {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 20px;
		gap: 10px;
		.title {
			text-align: center;
			>* {
				font-size: 2.4rem;
				line-height: 3rem;
				font-weight: 700;
			}
		}
	}
}



.accountmenu {
	position: relative;
	&-trigger {
		width: 40px;
		height: 40px !important;
		display: flex !important;
		justify-content: center;
		align-items: center;
		padding: 0 !important;
		margin-left: 0;
		position: relative;
		z-index: 40;
		&:hover {
			background-color: $background-color_1 !important;
			border: 1px solid #323232;
			border-bottom: 0;
			@include md {
				background: initial;
				border: initial;
				border-bottom:initial;
			}

		}
		@include md {
			width: 50px;
			height: 50px !important;			
			margin-left: 10px;
		}
		>.icon-user {
			font-size: 1.6rem;
			color: $color_24;
		}
		&[href=""]{
			cursor: auto;
			pointer-events: none;
	
		}
		&.active{
			@include min-md {
				background-color: $background-color_1;
				border: 1px solid #323232;
				border-bottom: 0;
			}
			&:after{
				@include min-md {
					content: "";
					background-color: $background-color_1;
					border: 1px solid #323232;
					border-top: 0;
					border-bottom: 0;
					width: 40px;
					height: 20px;
					position: absolute;
					top: 35px;
					left: -1px;
					z-index: 31;
				}
			}
		}
	}
	&-panel {
		position: absolute;
		display: none;
		
		background-color: $background-color_1;

		z-index: 30;
		right: 0;
		top: 55px;
		width: 255px;
		padding: 15px 0;
		border: 1px solid #323232;
		border-radius: 4px 0 4px 4px;
		>.accountmenu-inner {
			background-color: $background-color_1;
			border-radius: 4px;
			@include md {
				padding: 10px 0;
			}
			>ul {
				>li {
					>a {
						display: block;
						padding: 6px 15px;
						font-size: 1.5rem;
						line-height: 2rem;
						font-family: $font-family_1;
						font-weight: 400;
						&:hover {
							background-color: $background-color_7;
							color: inherit;
						}
					}
				}
			}
		}
		@include md {			
			border-radius:0;
			top: 50px;		
			right: -70px;
			width: 100vw;
			padding: 15px;
			
			border-bottom: 1px solid #e0e0e0;
		}
		&.active {
			display: block;
			
		}
	}
}



body.menu-open {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	position: fixed;
	top: 0;
}
.footer {
	background-color: $background-color_1;
	padding-bottom: 20px;
	.h3 {
		margin-bottom: 10px;
	}
	
		
	
	&-bar {
		background-color: $background-color_19;
		padding: 40px 0;
		@include md {
			padding: 40px 20px;
		}
		
		>.col {
			display: flex;
			justify-content: space-between;
			@include md {
				flex-direction: column;
			}
			.h3{
				@include min-md {
					margin-bottom:15px;
				}
			}
			.links {
				li {
					display: block;
					margin-bottom: 6px;
					a {
						letter-spacing: 0.03em;
						border-bottom: 1px solid transparent;
						font-family: $font-family_1;
						font-weight: 400;
						&:hover {
							border-color: $border-color_3;
						}
					}
				}
			}
		}
		.h3{
			@include min-md {
				font-size: 2.2rem;
			}
		}
		.container {
			display: flex;
			justify-content: space-between;
			@include md {
				flex-direction: column;
			}
				
			.links {
				li {
					display: block;
					margin-bottom: 6px;
					a {
						letter-spacing: 0.03em;
						border-bottom: 1px solid transparent;
						font-family: $font-family_1;
						font-weight: 400;
						&:hover {
							border-color: $border-color_3;
						}
					}
				}
			}
			.footer-contact {
				@include md {
					margin-bottom: 30px;
				}
				.phone {
					font-size: 2.4rem;
					line-height: 1;
					text-decoration: none;
					display: block;
					margin-bottom: 10px;
					a {
						font-size: 2.4rem;
						line-height: 1;
						text-decoration: none;
					}
				}
				span {
					display: block;
				}
			}
			.col {
				.h3{
					@include min-md {
						margin-bottom:15px;
					}
				}
			}
		}
		a {
			color: $color_1;
		}
		p {
			color: $color_1;
			margin: 0;
		}
		.h3 {
			color: $color_1;
		}
		.text {
			color: $color_1;
		}

		.account {
			.account-info {
				>div {
					color: $color_1;
				}
			}
		}
		.text-underline {
			text-decoration: underline;
		}
	}
	.container{
		@include md {
			padding: 0;
		}
	}
	&-top {
		display: flex;
		justify-content: space-between;
		padding:30px 0;
		@include md {
			flex-direction: column;
			padding: 0;
		}
		>div {
			+ {
				div {
					@include md {
						padding-top: 35px;
						border-top: 1px solid #d0cdc7;
					}
				}
			}
		}
		.footer-payment {
			order: 2;
			@include md {
				padding: 20px;
			}
			.payment-options {
				display: flex;
				flex-direction: row;
				align-items: center;
				li {
					+ {
						li {
							margin-left: 7px;
						}
					}
				}
			}
		}
		.footer-social {
			order: 1;
			@include md {

				padding: 20px;
			}
			.social-links {
				display: flex;
				align-items: center;
				li {
					+ {
						li {
							margin-left: 10px;
						}
					}
					a {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 24px;
						height: 24px;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
	}
	&-bottom {

		display: flex;
		margin-left: -20px;
		margin-right: -20px;
		visibility: visible;

		padding: 35px 20px 33px 20px;
		border-top: 1px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
		@include md {
			display: none;
			visibility: hidden;
			margin:0;
	
		}
		.footer-row {
			width: calc(100% - 70px);
			display: flex;
			flex-direction: row;
			align-items: center;
			padding-left: 20px;
			nav {
				margin-left: auto;
			}
			>div {
				padding-left: 20px;
				&:last-child {
					margin-top: 15px;
				}
			}
		}
	}
	&-logo {
		width: 70px;
		a {
			display: block;
			img {
				display: block;
				max-width: 100%;
				height: auto;
			}
		}
	}
	.footer-bottom-nav {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		row-gap: 10px;
		column-gap: 20px;
		li {
			display: flex;
			align-items: center;
			a {
				font-family: $font-family_1;
				font-weight: 600;
				font-size: 1.3rem;
				line-height: 1;
			}
			img {
				position: relative;
				top: -2px;
				display: block;
				width: 22px;
				height: 22px;
				margin-left: 10px;
			}
		}
	}
	.footer-bottom-mobile {
		display: none;
		visibility: hidden;
		border-top: 1px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
		@include md {
			display: block;
			visibility: visible;
		}
		.footer-bottom-nav {
			flex-direction: column;
			padding: 20px;
			flex-direction: row;
			flex-wrap: wrap;
			row-gap: 10px;
			column-gap: 10px;
			li {
				position: relative;
				padding-right: 10px;
				a {
					line-height: 1.6rem;
				}
				&:after {
					content: "";
					position: absolute;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
					width: 1px;
					height: 15px;
					background-color: $background-color_4;
				}
				+ {
					li {
						margin-left: 0;
					}
				}
				&:last-child {
					&:after {
						display: none;
					}
				}
			}
		}
		.footer-bottom-logo {
			border-top: 1px solid #d0cdc7;
			padding: 20px;
		}
	}
}

.facebook-icon-sha{
	display: inline-block;
    background-image: url(../img/ico-fb.svg);
		width: 21px;
    height: 22px;
    background-position: -10px -10px;
		
}
.twitter-icon-sha {
	display: inline-block;
	width: 21px;
	height: 18px;
	background-image: url(../img/ico-tw.svg);
	background-position: -10px -10px;
}
.ico.ico-instagram {
	width: 23px;
	height: 23px;
	background-image: url(../img/ico-tw.svg);
	background-size: 100% 100%;
	display: inline-block;
}
.snapchat-icon-sha {
	display: inline-block;
	width: 25px;
	height: 25px;
	background-image: url(../img/ico-snapchat.svg);
	background-position: -10px -10px;
}
.ideal-icon-sha {
	width: 27px;
	height: 24px;
	background-image: url(../img/ico-ideal.svg);
	background-position: -10px -10px;

	transform: scale(0.9);
	margin-bottom: 3px;
}
.ico.ico-mastercard {
	width: 43px;
	height: 27px;
	background-position: -10px -1877px;
	transform: scale(0.9);
}
.ico.ico-visa {
	width: 55px;
	height: 18.4px;
	background-position: -10px -3304px;
	transform: scale(0.9);
}
.ico.ico-paypal {
	width: 63px;
	height: 17px;
	background-position: -10px -2227px;
	transform: scale(0.9);
}
.ico.ico-bancontact {
	width: 46px;
	height: 28px;
	background: url(/Frontend/dist/assets/icons/bancontact.png) no-repeat;
}

.grid {
	>.row {
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		flex: 1;
		>.column.col-xs-1 {
			width: 8.3333333333%;
		}
		>.column.col-xs-2 {
			width: 16.6666666667%;
		}
		>.column.col-xs-3 {
			width: 25%;
		}
		>.column.col-xs-4 {
			width: 33.3333333333%;
		}
		>.column.col-xs-5 {
			width: 41.6666666667%;
		}
		>.column.col-xs-6 {
			width: 50%;
		}
		>.column.col-xs-7 {
			width: 58.3333333333%;
		}
		>.column.col-xs-8 {
			width: 66.6666666667%;
		}
		>.column.col-xs-9 {
			width: 75%;
		}
		>.column.col-xs-10 {
			width: 83.3333333333%;
		}
		>.column.col-xs-11 {
			width: 91.6666666667%;
		}
		>.column.col-xs-12 {
			width: 100%;
		}
	}
}
.seo-grid{
	    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, var(--min-column-size, 250px)), 1fr));
	&.grid-2 {
		--min-column-size: 400px;
		gap: 20px;
	}
}
.section-grey {
	padding: 20px 0 40px;
	background-color: $background-color_2;
	@include md {
		padding: 10px 0 20px;
	}
	+ {
		.section-grey {
			&:not(.bg-image) {
				padding-top: 0;
			}
		}
	}
}
.section-white {
	padding: 10px 0 20px;
	background-color: $background-color_1;
	+ {
		.section-white {
			&:not(.bg-image) {
				padding-top: 0;
			}
		}
	}
}
.bg-image.section-grey {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	+ {
		section {
			padding-top: 40px !important;
		}
	}
}
.bg-image.section-white {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	+ {
		section {
			padding-top: 40px !important;
		}
	}
}
// .no-spacing.section-grey {
// 	padding: 0 !important;
// }
// .no-spacing.section-white {
// 	padding: 0 !important;
// }
.vertical-spacing-big.section-grey {
	padding-top: 40px;
	padding-bottom: 40px;
}
.vertical-spacing-big.section-white {
	padding-top: 40px;
	padding-bottom: 40px;
}
.section-intro {
	padding: 0;
	padding-top: 20px;
	@include md {
		padding-top: 10px;
	}
}

.hero {
	display: flex;
	@include md {
		flex-direction: column-reverse;
	}
	.banner-container {

		margin-top: 20px;
	}
	.featured-banner {
		width: 75.5%;
		height: 100%;
		padding-left: 20px;
		@include md {
			width: 100%;
			padding: 0;
			margin-bottom: 20px;
		}
		.main-banner {
			position: relative;
			background-color: $background-color_1;
			img {
				border-radius: 12px;
				overflow: hidden;
			}
			.usergenerated-text {
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 20px;
				padding: 20px;
				height: 100%;
				width: 100%;
				@include md {
					top: 8px;
					left: 12px;
					margin: 0;
					padding: 0;
				}
				.h1 {
					p {
						font-size: inherit;
						line-height: inherit;
						margin: 0;
						padding: 0;
					}
					span {
						font-size: inherit;
						line-height: inherit;
						margin: 0;
						padding: 0;
					}
					li {
						font-size: inherit;
						line-height: inherit;
						margin: 0;
						padding: 0;
					}
					a {
						font-size: inherit;
						line-height: inherit;
						margin: 0;
						padding: 0;
					}
					strong {
						font-size: inherit;
						line-height: inherit;
						margin: 0;
						padding: 0;
					}
					@include md {
						font-size: 1.7rem;
						line-height: 2.2rem;
						margin: 0;
						padding: 0;
					}
				}
				.btn{

					@include md {
						margin-top: 20px;
					}
				}
				.usp-list {
					padding: 0;
					li {
						color: $color_3;
					}
					@include md {
						display: none;
					}
				}
			}
		}
		.small-banner {
			position: relative;
			display: flex;
			align-items: center;
			padding: 15px 40px 15px 20px;
			background-color: $background-color_2;
			border-radius: 12px;
			overflow: hidden;
			>.image {
				max-width: 100px;
				min-width: 100px;
				margin-right: 20px;
				@include esm {
					max-width: 80px;
					min-width: 80px;
				}
				img {
					display: block;
					max-width: 100%;
					height: auto;
					border-radius: 8px;
					overflow: hidden;
				}
			}
			>.content {
				>.title {
					* {
						font-family: $font-family_1;
						font-weight: 700;
						color: $color_3;
						letter-spacing: 0.026em;
						font-size: clamp(2.0rem, 4vw, 2.8rem);
						line-height: 1.1;
					}
				}
			}
			>svg {
				position: absolute;
				top: 50%;
				right: 20px;
				transform: translateY(-50%);
				font-size: 3rem;
				color: $color_1;
			}
		}
	}
}
.sidemenu {
	width: 24.5%;
	padding-right: 20px;
	margin-bottom: 20px;
	@include md {
		width: 100%;
	}
	.h1 {
		margin-bottom: 20px;
		&:before {
			content: attr(data-title);
			@include md {
				content: attr(data-title-mobile);
			}
		}
	}
	.sidemenu-navigation {
		.nav-item {
			padding: 5px 0;
			@include md-lg {
				padding: 10px 0;
			}
			.nav-link {
				color: $color_3;
				text-decoration: none;
				display: flex;
				align-items: center;
				font-size: 1.8rem;
				font-weight: 600;
				line-height: 2rem;
				transition: 0.3s ease-in;
				@include md-lg {
					font-size: 1.5rem;
				}
				.thumb {
					width: 44px;
					max-height: 43px;
					margin-right: 16px;
					text-align: center;
					display: flex;
					img {
						min-width: 100%;
						width: auto;
						height: auto;
					}
					@include md-lg {
						display: none;
					}
				}
				.link {
					text-transform: lowercase;
					font-size: inherit;
					line-height: inherit;
				}
			}
		}
	}
}
.usp-list {
	padding: 23px 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	li {
		position: relative;
		color: $color_9;
		font-family: $font-family_1;
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 2rem;
		padding-left: 20px;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			color: $color_8;
			width:11.266px;
			height: 10px;
			background: url(../img/check-tick.png) no-repeat center center / contain;
		}
	}
}
.usp-horizontal {
	border-top: 1px solid #d0cdc7;
	margin: 20px -20px 0;
	@include md {
		display: none;
	}
}




.sidebar {
	display: none;
	width: 25%;
	.card-white {
		+ {
			.card-white {
				margin-top: 20px;
			}
		}
	}
	.usp-list {
		li {
			&:before {
				top: 1rem;
			}
		}
	}
}

.moment-overview {
	display: grid;
	grid-template-columns:  repeat(5, 1fr);
	gap: 10px;
	@include lg {
		grid-template-columns: repeat(3, 1fr);
	}
	@include md {
		grid-template-columns: repeat(2, 1fr);
	}
	>.moment {
		display: flex;
		flex-direction: column;
		padding: 10px;
		border: 1px solid #d0cdc7;
		background-color: $background-color_1;
		border-radius: 8px;
		&:active {
			>.image {
				transform: scale(1.05);
			}
		}
		&:focus {
			>.image {
				transform: scale(1.05);
			}
		}
		>.image {
			display: flex;
			align-items: center;
			padding: 5px;
			transition: transform 0.2s ease-in-out;
			flex-grow: 1;
		}
		@include hover-device{
			&:hover{
				>.image{
					transform: scale(1.05);
				}
			}
		}
		>h3 {
			text-align: center;
			margin: 10px 0px;
			font-family: $font-family_1;
			font-weight: 600;
		}
	}
}
.moment {
	display: flex;
	flex-direction: column;
	padding: 10px;
	border: 1px solid #d0cdc7;
	background-color: $background-color_1;
	&:active {
		>.image {
			transform: scale(1.05);
		}
	}
	&:focus {
		>.image {
			transform: scale(1.05);
		}
	}
	>.label {
		color: $color_9;
		font-family: $font-family_1;
		font-weight: 600;
		padding: 10px;
		font-size: 1.5rem;
	}
	>.image {
		display: flex;
		align-items: center;
		padding: 5px;
		transition: transform 0.2s ease-in-out;
	}
	>a {
		font-family: $font-family_1;
		font-weight: 600;
		font-size: 1.5rem;
		line-height: 1.6rem;
		padding: 10px;
		flex-grow: 1;
	}

}


#dropin-container {
	.adyen-checkout__dropdown__element {
		font-size: 1.2rem;
	}
	.adyen-checkout__payment-method__name {
		font-family: $font-family_1;
		font-weight: 400;
		letter-spacing: 0.026em;
		font-size: 1.4rem;
	}
	.adyen-checkout__dropdown__button__text {
		font-size: 1.2rem;
		font-family: $font-family_1;
		font-weight: 400;
		letter-spacing: 0.026em;
	}
	.adyen-checkout__label__text {
		font-size: 1.2rem;
		font-family: $font-family_1;
		font-weight: 400;
		letter-spacing: 0.026em;
	}
	.adyen-checkout__button {
		font-size: 1.2rem;
		font-family: $font-family_1;
		font-weight: 400;
		letter-spacing: 0.026em;
	}
	.adyen-checkout__button__icon {
		width: unset;
		height: unset;
	}
}
body.modal-open {
	overflow: hidden;
}





