/* Material Design Iconic Font uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
@font-face {
  font-family: "HurmeHEMA";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(./fonts/5c5ce0882824c47eee3c54afe4da8d98.ttf);
}
@font-face {
  font-family: "HurmeHEMA";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(./fonts/64f937d113dd1dab52c01b45fd31c647.ttf);
}
@font-face {
  font-family: "HurmeHEMA";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(./fonts/a3ab91a217556ec8f741dd071bdfd816.ttf);
}
@font-face {
  font-family: "HEMA-foto-icons";
  src: url(/frontend/dist/d115a2cc4be18e8a190b6613a96e32ec.eot) format("embedded-opentype"), url(/frontend/dist/42ed8451470c12e074e91f480c302e42.ttf) format("truetype"), url(/frontend/dist/362380b151ac43b8759b6cd706e45e3a.woff) format("woff"), url(/frontend/dist/c328ed8cbd2f444edc7a3bb472441ad4.svg#HEMA-foto-icons) format("svg");
  font-weight: normal;
  font-style: normal;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
@keyframes fade-in {
  0% {
    background-color: rgba(54, 49, 41, 0);
  }
  100% {
    background-color: rgba(54, 49, 41, 0.6);
  }
}
@keyframes scale-up {
  0% {
    transform: translateX(-100%), scale(0.95);
  }
  100% {
    transform: translateX(0), scale(1);
  }
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes UpDown {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(5px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  font-weight: normal;
  line-height: 1;
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 700;
  color: #323232;
  letter-spacing: 0.026em;
}
h1 > p, h2 > p, h3 > p, h4 > p, h5 > p,
.h1 > p, .h2 > p, .h3 > p, .h4 > p, .h5 > p {
  font-weight: 700;
}

h1, .h1 {
  font-size: 4.2rem;
  line-height: 4.6rem;
}
@media (max-width: 768px) {
  h1, .h1 {
    font-size: 3.5rem;
    line-height: 3.8rem;
  }
}

h2, .h2 {
  font-size: 2.8rem;
  line-height: 3rem;
}
@media (max-width: 768px) {
  h2, .h2 {
    font-size: 2rem;
    line-height: 3rem;
  }
}

h3, .h3 {
  font-size: 2rem;
  line-height: 2.2rem;
}
@media (max-width: 768px) {
  h3, .h3 {
    line-height: 2.4rem;
  }
}

h4, .h4 {
  font-size: 1.7rem;
  line-height: 2.4rem;
}

h5, .h5 {
  font-size: 1.5rem;
  line-height: 2.4rem;
}

h6, .h6 {
  font-weight: normal;
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 700;
  color: #323232;
  letter-spacing: 0.026em;
  font-weight: normal;
  line-height: 1;
}

p {
  font-weight: normal;
  line-height: 1;
  font-size: 1.5rem;
  line-height: 1.4;
  color: #323232;
  vertical-align: top;
}
p a {
  text-decoration: underline;
}
p a:hover {
  text-decoration: underline;
  color: #5dc5e3;
}

h1.center {
  text-align: center;
}

h2.center {
  text-align: center;
}

h3.center {
  text-align: center;
}

h4.center {
  text-align: center;
}

h5.center {
  text-align: center;
}

.h1.center {
  text-align: center;
}

.h2.center {
  text-align: center;
}

.h3.center {
  text-align: center;
}

.h4.center {
  text-align: center;
}

.h5.center {
  text-align: center;
}

.text {
  font-size: 1.5rem;
  line-height: 1.4;
  color: #323232;
  vertical-align: top;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style: none;
}

img {
  text-decoration: none;
  border: 0;
  display: block;
  width: 100%;
  height: auto;
}

.mb-20 {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .mt-md-30 {
    margin-top: 30px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #323232;
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: 0.035em;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: #5dc5e3;
}

i {
  display: block;
  font-size: 0;
  line-height: 0;
  font-style: normal;
}

ol {
  list-style: none;
}

button {
  font-weight: 400;
  font-size: 1.6rem;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "kern";
  -moz-font-feature-settings: "liga", "kern";
  outline: none;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  border: 0;
}
button:focus {
  outline: none;
  outline: none;
}

.link-underline {
  text-decoration: none;
  color: #323232;
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: 0.035em;
  transition: color 0.3s ease-in-out;
  border-bottom: 1px solid transparent;
  line-height: 1.5 !important;
}
.link-underline:hover {
  color: #323232;
  border-color: inherit;
}

.link-grey {
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #323232;
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: 0.035em;
  transition: color 0.3s ease-in-out;
  color: #9b9b9b;
}
.link-grey:hover {
  color: #5dc5e3;
}

.link {
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #323232;
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: 0.035em;
  transition: color 0.3s ease-in-out;
}
.link:hover {
  color: #5dc5e3;
}

html {
  margin: 0;
  padding: 0;
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "kern";
  -moz-font-feature-settings: "liga", "kern";
}
body::after {
  display: none;
}

body.grid-show::after {
  display: block;
}

.page-wrapper {
  padding-top: 105px;
}
.page-wrapper .container {
  padding: 0 20px;
}
@media (max-width: 768px) {
  .page-wrapper .container {
    padding: 0 10px;
  }
}

.page-wrapper.scrolled-force {
  padding-top: 70px;
}

.page-wrapper.checkout {
  background-color: #f1efeb;
}

figure {
  margin: 0;
}

[data-back-to-top] {
  display: inline-block;
  margin: 16px 0 0 !important;
  line-height: 4rem;
  transition: color linear 0.2s;
  cursor: pointer !important;
}
[data-back-to-top] [class^=icon-] {
  margin-left: 5px;
}
[data-back-to-top] [class*=icon-] {
  margin-left: 5px;
}
[data-back-to-top]:hover {
  color: #323232;
}

svg {
  overflow: hidden;
}

::-moz-placeholder {
  opacity: 1;
  line-height: 2rem;
  font-weight: 400;
  color: #d0cdc7;
  font-size: 1.5rem;
}

::placeholder {
  opacity: 1;
  line-height: 2rem;
  font-weight: 400;
  color: #d0cdc7;
  font-size: 1.5rem;
}

::-moz-selection {
  background-color: #323232;
  color: #fff;
}

::selection {
  background-color: #323232;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  padding: 20px 0 10px 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in;
  transition: top 0s;
  z-index: 9;
}
.header-navigation {
  flex: 1;
  margin-left: 20px;
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 600;
  transition: all 0.3s ease-out;
}
@media (max-width: 768px) {
  .header-navigation {
    margin-left: 10px;
  }
}
.header-navigation .main-navigation {
  position: relative;
  background-color: #fff;
  height: auto;
  visibility: visible;
  width: 100%;
  margin-top: auto;
  transition: all 0s;
}
@media (max-width: 768px) {
  .header-navigation .main-navigation {
    position: absolute;
    left: 0;
    top: 101px;
    visibility: hidden;
    height: 0;
  }
}
.header-navigation .main-navigation .nav-item {
  display: inline-flex;
}
.header-navigation .main-navigation .nav-item .nav-link {
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #323232;
  font-size: 1.5rem;
  line-height: 1.7rem;
  letter-spacing: 0.035em;
  transition: color 0.3s ease-in-out;
  width: 100%;
  line-height: 4rem;
  position: relative;
  text-transform: lowercase;
}
.header-navigation .main-navigation .nav-item .nav-link:hover {
  color: #5dc5e3;
}
@media (max-width: 768px) {
  .header-navigation .main-navigation .nav-item .nav-link {
    line-height: 16px;
    padding: 12px 50px 11px 20px;
  }
}
@media (max-width: 768px) {
  .header-navigation .main-navigation .nav {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
.header-navigation .main-navigation > ul.nav .switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 3px solid #5dc5e3;
  border-radius: 5px;
  background-color: #5dc5e3;
}
.header-navigation .main-navigation > ul.nav .switch > a {
  padding: 11px 20px 9px 20px;
  color: #fff;
  border-radius: 5px;
  transition: color 0.2s ease-in-out;
}
.header-navigation .main-navigation > ul.nav .switch > a.active {
  background-color: #fff;
  color: #323232;
  pointer-events: none;
}
@media (hover: hover) {
  .header-navigation .main-navigation > ul.nav .switch > a:not(.active):hover {
    color: #323232;
  }
}
.header-navigation .main-navigation > ul.nav > li.btn-primary > a {
  color: inherit;
}
@media (max-width: 991px) {
  .header-navigation .main-navigation > ul.nav {
    padding: 0 20px 10px;
  }
}
.header-navigation .main-navigation .top-links-mobile {
  position: relative;
  display: none;
  visibility: hidden;
  padding-top: 10px;
  margin: 10px 0;
}
.header-navigation .main-navigation .top-links-mobile:before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  height: 1px;
  background-color: #d0cdc7;
  display: block;
}
@media (max-width: 768px) {
  .header-navigation .main-navigation.is-open .top-links-mobile {
    display: block;
    visibility: visible;
  }
}
@media (max-width: 768px) {
  .header-navigation .main-navigation.is-open {
    height: calc(100vh - 101px);
    visibility: visible;
    width: 100%;
  }
}
.header-navigation .menu-toggle {
  position: relative;
  display: none;
  padding-left: 32px;
  background-color: #5dc5e3;
  box-shadow: inset 0 -1px 0 0 #4ba7c2;
  border-radius: 4px;
  font-size: 1.5rem;
  color: #fff;
  margin-top: auto;
  z-index: 12;
  text-decoration: none;
  height: 50px;
  align-items: center;
}
@media (max-width: 768px) {
  .header-navigation .menu-toggle {
    display: flex;
  }
}
.header-navigation .menu-toggle .hamburger {
  position: absolute;
  background-color: #fff;
  left: 14px;
  width: 12px;
  height: 2px;
}
.header-navigation .menu-toggle .hamburger:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0;
  top: -5px;
}
.header-navigation .menu-toggle .hamburger:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0;
  bottom: -5px;
}
.header-navigation .menu-toggle .open-text {
  margin-left: 6px;
}
.header-navigation .menu-toggle .close-text {
  margin-left: 6px;
  display: none;
}
@media (max-width: 768px) {
  .header-navigation .menu-toggle {
    display: flex;
  }
}
.header-wrapper {
  padding: 0 20px;
  display: flex;
  align-items: flex-end;
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .header-wrapper {
    padding: 0 10px;
  }
}
.header-logo {
  width: 70px;
  transition: all 0.3s ease-in;
}
.header-logo img {
  display: block;
  width: 100%;
  height: auto;
}
.header-links {
  display: block;
  opacity: 1;
  height: 20px;
  visibility: visible;
  width: 100%;
  position: fixed;
  left: 0;
  top: 20px;
  transition: all 0.3s ease-in;
}
@media (max-width: 768px) {
  .header-links {
    display: none;
    visibility: hidden;
  }
}
.header-links .wrapper {
  max-width: 1280px;
  padding-left: 110px;
  padding-right: 20px;
  margin: 0 auto;
  transition: padding-left 0.3s ease-in;
}
.header-links ul {
  display: flex;
}
.header-links ul li.last {
  justify-self: flex-end;
  margin-left: auto;
  margin-right: 0;
  width: auto;
}
.header-links ul li a {
  font-size: 1.5rem !important;
}
.header-links ul li + li {
  margin-left: 20px;
}
.header.scrolled {
  padding: 10px 0;
  border-bottom-color: #dfdfdf;
}
@media (max-width: 768px) {
  .header.scrolled {
    padding: 5px 0;
  }
}
.header.scrolled .header-logo {
  width: 40px;
}
@media (max-width: 768px) {
  .header.scrolled .header-logo {
    width: 50px;
  }
}
.header.scrolled .header-navigation .top-links {
  opacity: 0;
  transform: translate(-30px, -90px);
  height: 0;
}
.header.scrolled .header-links {
  top: -20px;
  opacity: 0;
}
.header.scrolled .header-links .wrapper {
  padding-left: 70px;
}
.header.scrolled .menu-open .main-navigation {
  top: 61px;
}
@media (max-width: 768px) {
  .header.menu-open .menu-toggle {
    background-color: #fff;
    color: #fff;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
  }
  .header.menu-open .menu-toggle:after {
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: #fff;
    display: block;
  }
  .header.menu-open .menu-toggle .hamburger {
    background-color: #5dc5e3;
    background: none;
  }
  .header.menu-open .menu-toggle .hamburger:after {
    background-color: #5dc5e3;
    top: 0;
    transform: rotate(45deg);
  }
  .header.menu-open .menu-toggle .hamburger:before {
    background-color: #5dc5e3;
    top: 0;
    transform: rotate(-45deg);
  }
  .header.menu-open .menu-toggle .open-text {
    display: none;
  }
  .header.menu-open .menu-toggle .close-text {
    color: #5dc5e3;
    display: block;
  }
}
.header.menu-open .main-navigation {
  padding: 20px 0;
}
@media (max-width: 768px) {
  .header.menu-open .backdrop {
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(109, 98, 61, 0.15);
    z-index: 10;
    transition: all 0.3s ease-out;
  }
}

.back-to-top {
  display: block;
  position: fixed;
  bottom: -65px;
  right: 20px;
  width: 40px;
  height: 39px;
  margin: 0;
  border: 1px solid #d0cdc7;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  background-image: url(../img/icon-back-to-top.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  will-change: transform;
  z-index: 8;
  transition: 0.3s ease-in;
}

.back-to-top.visible {
  bottom: 0;
}

.btn-cta {
  display: inline-block;
  position: relative;
  padding: 11px 20px 9px 20px;
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
  height: 40px;
  text-align: center;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out border-radius 0.3s ease-in-out;
  background-color: #f8b840;
  color: #fff;
  box-shadow: inset 0 -1px 0 0 #D69E34;
}
.btn-cta:hover {
  background-color: #e99800;
  color: #fff !important;
}
.btn-cta:focus {
  background-color: #e99800;
  color: #fff !important;
}

.btn-secondary {
  display: inline-block;
  position: relative;
  padding: 11px 20px 9px 20px;
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
  height: 40px;
  text-align: center;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out border-radius 0.3s ease-in-out;
  background-color: #dfdfdf;
  color: #323232;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover {
  background-color: #d0cdc7;
  color: #323232;
}
.btn-secondary:focus {
  background-color: #d0cdc7;
  color: #323232;
}

.btn-primary {
  display: inline-block;
  position: relative;
  padding: 11px 20px 9px 20px;
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
  height: 40px;
  text-align: center;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out border-radius 0.3s ease-in-out;
  background-color: #5dc5e3;
  color: #fff;
  box-shadow: 0 1px 0 0 #4BA7C2;
}
.btn-primary:hover {
  background-color: #36acce;
  color: #fff;
}
.btn-primary:focus {
  background-color: #36acce;
  color: #fff;
}

.is-square.btn-cta {
  width: 40px;
  height: 40px;
  padding: 0;
}

.is-square.btn-secondary {
  width: 40px;
  height: 40px;
  padding: 0;
}

.is-square.btn-primary {
  width: 40px;
  height: 40px;
  padding: 0;
}

.disabled.btn-cta {
  background-color: #f6f6f6 !important;
  color: #dfdfdf !important;
  box-shadow: none;
  pointer-events: none;
  display: flex;
}

.disabled.btn-secondary {
  background-color: #f6f6f6 !important;
  color: #dfdfdf !important;
  box-shadow: none;
  pointer-events: none;
  display: flex;
}

.disabled.btn-primary {
  background-color: #f6f6f6 !important;
  color: #dfdfdf !important;
  box-shadow: none;
  pointer-events: none;
  display: flex;
}

.loading.btn-cta:before {
  content: "";
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #9b9b9b;
  animation: spinner 0.6s linear infinite;
  margin-right: 15px;
}

.loading.btn-secondary:before {
  content: "";
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #9b9b9b;
  animation: spinner 0.6s linear infinite;
  margin-right: 15px;
}

.loading.btn-primary:before {
  content: "";
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #9b9b9b;
  animation: spinner 0.6s linear infinite;
  margin-right: 15px;
}

.disabled-black.btn-cta {
  background-color: #f6f6f6 !important;
  color: #323232 !important;
  box-shadow: none;
  pointer-events: none;
}

.disabled-black.btn-secondary {
  background-color: #f6f6f6 !important;
  color: #323232 !important;
  box-shadow: none;
  pointer-events: none;
}

.disabled-black.btn-primary {
  background-color: #f6f6f6 !important;
  color: #323232 !important;
  box-shadow: none;
  pointer-events: none;
}

.card-white {
  display: block;
  background-color: #fff;
  padding: 28px;
  border-radius: 12px;
}
.card-white .card-header .h2 {
  text-transform: lowercase;
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 700;
}
.card-white .card-header .h2 + p {
  margin-top: 10px;
}
.card-white .card-header .h1 + p {
  margin-top: 10px;
}
.card-white .card-header + .card-content {
  margin-top: 15px;
}

.minicart {
  display: flex;
}

.minicart-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  min-width: 100px;
  margin-left: 10px;
  padding: 0 15px 0 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.minicart-trigger .cart-icon {
  position: relative;
  width: 27px;
  height: 27px;
}
.minicart-trigger .cart-icon .count {
  position: absolute;
  font-size: 1rem;
  top: 6px;
  left: 10px;
  z-index: 2;
}
.minicart-trigger .minicart-price {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: 10px;
}
.minicart-trigger .minicart-price .product-price {
  font-size: 1.6rem;
  line-height: 1.6rem;
  display: flex;
  align-items: baseline;
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 700;
}
.minicart-trigger .minicart-price .price {
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.minicart-trigger .minicart-price sub {
  position: relative;
  top: -3.84px;
  left: -3.84px;
  font-size: 60%;
  display: inline-block;
}
.minicart-trigger .minicart-price sub:not(.decimal) {
  transform: scaleY(1.4);
}
@media (max-width: 768px) {
  .minicart-trigger .minicart-price {
    display: none;
  }
}
.minicart-trigger:hover {
  color: #fff;
}
@media (max-width: 768px) {
  .minicart-trigger {
    width: 50px;
    min-width: auto;
    height: 50px;
    padding: 0 10px;
    justify-content: center;
  }
}

.seo-block .card-header {
  padding-bottom: 15px;
}
.seo-block .card-header .h2 {
  color: #5dc5e3;
}
.seo-block .card-header .account .accountmenu-sidebar header > .title {
  color: #5dc5e3;
}

.text-and-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  min-height: 300px;
  border-radius: 12px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .text-and-image {
    grid-template-columns: 1fr;
  }
}
.text-and-image .image {
  position: relative;
  display: block;
}
.text-and-image .image > img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 768px) {
  .text-and-image .image > img {
    position: static;
  }
}
.text-and-image .text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 10px;
}
.text-and-image .text-block .title {
  text-align: center;
}
.text-and-image .text-block .title > * {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 700;
}

.accountmenu {
  position: relative;
}
.accountmenu-trigger {
  width: 40px;
  height: 40px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  margin-left: 0;
  position: relative;
  z-index: 40;
}
.accountmenu-trigger:hover {
  background-color: #fff !important;
  border: 1px solid #323232;
  border-bottom: 0;
}
@media (max-width: 768px) {
  .accountmenu-trigger:hover {
    background: initial;
    border: initial;
    border-bottom: initial;
  }
}
@media (max-width: 768px) {
  .accountmenu-trigger {
    width: 50px;
    height: 50px !important;
    margin-left: 10px;
  }
}
.accountmenu-trigger > .icon-user {
  font-size: 1.6rem;
  color: #8b8a87;
}
.accountmenu-trigger[href=""] {
  cursor: auto;
  pointer-events: none;
}
@media (min-width: 768px) {
  .accountmenu-trigger.active {
    background-color: #fff;
    border: 1px solid #323232;
    border-bottom: 0;
  }
}
@media (min-width: 768px) {
  .accountmenu-trigger.active:after {
    content: "";
    background-color: #fff;
    border: 1px solid #323232;
    border-top: 0;
    border-bottom: 0;
    width: 40px;
    height: 20px;
    position: absolute;
    top: 35px;
    left: -1px;
    z-index: 31;
  }
}
.accountmenu-panel {
  position: absolute;
  display: none;
  background-color: #fff;
  z-index: 30;
  right: 0;
  top: 55px;
  width: 255px;
  padding: 15px 0;
  border: 1px solid #323232;
  border-radius: 4px 0 4px 4px;
}
.accountmenu-panel > .accountmenu-inner {
  background-color: #fff;
  border-radius: 4px;
}
@media (max-width: 768px) {
  .accountmenu-panel > .accountmenu-inner {
    padding: 10px 0;
  }
}
.accountmenu-panel > .accountmenu-inner > ul > li > a {
  display: block;
  padding: 6px 15px;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 400;
}
.accountmenu-panel > .accountmenu-inner > ul > li > a:hover {
  background-color: #f6f6f6;
  color: inherit;
}
@media (max-width: 768px) {
  .accountmenu-panel {
    border-radius: 0;
    top: 50px;
    right: -70px;
    width: 100vw;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
  }
}
.accountmenu-panel.active {
  display: block;
}

body.menu-open {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  top: 0;
}

.footer {
  background-color: #fff;
  padding-bottom: 20px;
}
.footer .h3 {
  margin-bottom: 10px;
}
.footer-bar {
  background-color: #9c1aff;
  padding: 40px 0;
}
@media (max-width: 768px) {
  .footer-bar {
    padding: 40px 20px;
  }
}
.footer-bar > .col {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer-bar > .col {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .footer-bar > .col .h3 {
    margin-bottom: 15px;
  }
}
.footer-bar > .col .links li {
  display: block;
  margin-bottom: 6px;
}
.footer-bar > .col .links li a {
  letter-spacing: 0.03em;
  border-bottom: 1px solid transparent;
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 400;
}
.footer-bar > .col .links li a:hover {
  border-color: #fff;
}
@media (min-width: 768px) {
  .footer-bar .h3 {
    font-size: 2.2rem;
  }
}
.footer-bar .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer-bar .container {
    flex-direction: column;
  }
}
.footer-bar .container .links li {
  display: block;
  margin-bottom: 6px;
}
.footer-bar .container .links li a {
  letter-spacing: 0.03em;
  border-bottom: 1px solid transparent;
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 400;
}
.footer-bar .container .links li a:hover {
  border-color: #fff;
}
@media (max-width: 768px) {
  .footer-bar .container .footer-contact {
    margin-bottom: 30px;
  }
}
.footer-bar .container .footer-contact .phone {
  font-size: 2.4rem;
  line-height: 1;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}
.footer-bar .container .footer-contact .phone a {
  font-size: 2.4rem;
  line-height: 1;
  text-decoration: none;
}
.footer-bar .container .footer-contact span {
  display: block;
}
@media (min-width: 768px) {
  .footer-bar .container .col .h3 {
    margin-bottom: 15px;
  }
}
.footer-bar a {
  color: #fff;
}
.footer-bar p {
  color: #fff;
  margin: 0;
}
.footer-bar .h3 {
  color: #fff;
}
.footer-bar .text {
  color: #fff;
}
.footer-bar .account .account-info > div {
  color: #fff;
}
.footer-bar .text-underline {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .footer .container {
    padding: 0;
  }
}
.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .footer-top > div + div {
    padding-top: 35px;
    border-top: 1px solid #d0cdc7;
  }
}
.footer-top .footer-payment {
  order: 2;
}
@media (max-width: 768px) {
  .footer-top .footer-payment {
    padding: 20px;
  }
}
.footer-top .footer-payment .payment-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-top .footer-payment .payment-options li + li {
  margin-left: 7px;
}
.footer-top .footer-social {
  order: 1;
}
@media (max-width: 768px) {
  .footer-top .footer-social {
    padding: 20px;
  }
}
.footer-top .footer-social .social-links {
  display: flex;
  align-items: center;
}
.footer-top .footer-social .social-links li + li {
  margin-left: 10px;
}
.footer-top .footer-social .social-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.footer-top .footer-social .social-links li a:hover {
  text-decoration: none;
}
.footer-bottom {
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
  visibility: visible;
  padding: 35px 20px 33px 20px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}
@media (max-width: 768px) {
  .footer-bottom {
    display: none;
    visibility: hidden;
    margin: 0;
  }
}
.footer-bottom .footer-row {
  width: calc(100% - 70px);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}
.footer-bottom .footer-row nav {
  margin-left: auto;
}
.footer-bottom .footer-row > div {
  padding-left: 20px;
}
.footer-bottom .footer-row > div:last-child {
  margin-top: 15px;
}
.footer-logo {
  width: 70px;
}
.footer-logo a {
  display: block;
}
.footer-logo a img {
  display: block;
  max-width: 100%;
  height: auto;
}
.footer .footer-bottom-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 10px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.footer .footer-bottom-nav li {
  display: flex;
  align-items: center;
}
.footer .footer-bottom-nav li a {
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1;
}
.footer .footer-bottom-nav li img {
  position: relative;
  top: -2px;
  display: block;
  width: 22px;
  height: 22px;
  margin-left: 10px;
}
.footer .footer-bottom-mobile {
  display: none;
  visibility: hidden;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}
@media (max-width: 768px) {
  .footer .footer-bottom-mobile {
    display: block;
    visibility: visible;
  }
}
.footer .footer-bottom-mobile .footer-bottom-nav {
  flex-direction: column;
  padding: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer .footer-bottom-mobile .footer-bottom-nav li {
  position: relative;
  padding-right: 10px;
}
.footer .footer-bottom-mobile .footer-bottom-nav li a {
  line-height: 1.6rem;
}
.footer .footer-bottom-mobile .footer-bottom-nav li:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 15px;
  background-color: #323232;
}
.footer .footer-bottom-mobile .footer-bottom-nav li + li {
  margin-left: 0;
}
.footer .footer-bottom-mobile .footer-bottom-nav li:last-child:after {
  display: none;
}
.footer .footer-bottom-mobile .footer-bottom-logo {
  border-top: 1px solid #d0cdc7;
  padding: 20px;
}

.facebook-icon-sha {
  display: inline-block;
  background-image: url(../img/ico-fb.svg);
  width: 21px;
  height: 22px;
  background-position: -10px -10px;
}

.twitter-icon-sha {
  display: inline-block;
  width: 21px;
  height: 18px;
  background-image: url(../img/ico-tw.svg);
  background-position: -10px -10px;
}

.ico.ico-instagram {
  width: 23px;
  height: 23px;
  background-image: url(../img/ico-tw.svg);
  background-size: 100% 100%;
  display: inline-block;
}

.snapchat-icon-sha {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../img/ico-snapchat.svg);
  background-position: -10px -10px;
}

.ideal-icon-sha {
  width: 27px;
  height: 24px;
  background-image: url(../img/ico-ideal.svg);
  background-position: -10px -10px;
  transform: scale(0.9);
  margin-bottom: 3px;
}

.ico.ico-mastercard {
  width: 43px;
  height: 27px;
  background-position: -10px -1877px;
  transform: scale(0.9);
}

.ico.ico-visa {
  width: 55px;
  height: 18.4px;
  background-position: -10px -3304px;
  transform: scale(0.9);
}

.ico.ico-paypal {
  width: 63px;
  height: 17px;
  background-position: -10px -2227px;
  transform: scale(0.9);
}

.ico.ico-bancontact {
  width: 46px;
  height: 28px;
  background: url(/Frontend/dist/assets/icons/bancontact.png) no-repeat;
}

.grid > .row {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  flex: 1;
}
.grid > .row > .column.col-xs-1 {
  width: 8.3333333333%;
}
.grid > .row > .column.col-xs-2 {
  width: 16.6666666667%;
}
.grid > .row > .column.col-xs-3 {
  width: 25%;
}
.grid > .row > .column.col-xs-4 {
  width: 33.3333333333%;
}
.grid > .row > .column.col-xs-5 {
  width: 41.6666666667%;
}
.grid > .row > .column.col-xs-6 {
  width: 50%;
}
.grid > .row > .column.col-xs-7 {
  width: 58.3333333333%;
}
.grid > .row > .column.col-xs-8 {
  width: 66.6666666667%;
}
.grid > .row > .column.col-xs-9 {
  width: 75%;
}
.grid > .row > .column.col-xs-10 {
  width: 83.3333333333%;
}
.grid > .row > .column.col-xs-11 {
  width: 91.6666666667%;
}
.grid > .row > .column.col-xs-12 {
  width: 100%;
}

.seo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, var(--min-column-size, 250px)), 1fr));
}
.seo-grid.grid-2 {
  --min-column-size: 400px;
  gap: 20px;
}

.section-grey {
  padding: 20px 0 40px;
  background-color: #f1efeb;
}
@media (max-width: 768px) {
  .section-grey {
    padding: 10px 0 20px;
  }
}
.section-grey + .section-grey:not(.bg-image) {
  padding-top: 0;
}

.section-white {
  padding: 10px 0 20px;
  background-color: #fff;
}
.section-white + .section-white:not(.bg-image) {
  padding-top: 0;
}

.bg-image.section-grey {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image.section-grey + section {
  padding-top: 40px !important;
}

.bg-image.section-white {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image.section-white + section {
  padding-top: 40px !important;
}

.vertical-spacing-big.section-grey {
  padding-top: 40px;
  padding-bottom: 40px;
}

.vertical-spacing-big.section-white {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-intro {
  padding: 0;
  padding-top: 20px;
}
@media (max-width: 768px) {
  .section-intro {
    padding-top: 10px;
  }
}

.hero {
  display: flex;
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
  }
}
.hero .banner-container {
  margin-top: 20px;
}
.hero .featured-banner {
  width: 75.5%;
  height: 100%;
  padding-left: 20px;
}
@media (max-width: 768px) {
  .hero .featured-banner {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
}
.hero .featured-banner .main-banner {
  position: relative;
  background-color: #fff;
}
.hero .featured-banner .main-banner img {
  border-radius: 12px;
  overflow: hidden;
}
.hero .featured-banner .main-banner .usergenerated-text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .hero .featured-banner .main-banner .usergenerated-text {
    top: 8px;
    left: 12px;
    margin: 0;
    padding: 0;
  }
}
.hero .featured-banner .main-banner .usergenerated-text .h1 p {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
.hero .featured-banner .main-banner .usergenerated-text .h1 span {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
.hero .featured-banner .main-banner .usergenerated-text .h1 li {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
.hero .featured-banner .main-banner .usergenerated-text .h1 a {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
.hero .featured-banner .main-banner .usergenerated-text .h1 strong {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .hero .featured-banner .main-banner .usergenerated-text .h1 {
    font-size: 1.7rem;
    line-height: 2.2rem;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .hero .featured-banner .main-banner .usergenerated-text .btn {
    margin-top: 20px;
  }
}
.hero .featured-banner .main-banner .usergenerated-text .usp-list {
  padding: 0;
}
.hero .featured-banner .main-banner .usergenerated-text .usp-list li {
  color: #323232;
}
@media (max-width: 768px) {
  .hero .featured-banner .main-banner .usergenerated-text .usp-list {
    display: none;
  }
}
.hero .featured-banner .small-banner {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 40px 15px 20px;
  background-color: #f1efeb;
  border-radius: 12px;
  overflow: hidden;
}
.hero .featured-banner .small-banner > .image {
  max-width: 100px;
  min-width: 100px;
  margin-right: 20px;
}
@media (max-width: 450px) {
  .hero .featured-banner .small-banner > .image {
    max-width: 80px;
    min-width: 80px;
  }
}
.hero .featured-banner .small-banner > .image img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
}
.hero .featured-banner .small-banner > .content > .title * {
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 700;
  color: #323232;
  letter-spacing: 0.026em;
  font-size: clamp(2rem, 4vw, 2.8rem);
  line-height: 1.1;
}
.hero .featured-banner .small-banner > svg {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 3rem;
  color: #fff;
}

.sidemenu {
  width: 24.5%;
  padding-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .sidemenu {
    width: 100%;
  }
}
.sidemenu .h1 {
  margin-bottom: 20px;
}
.sidemenu .h1:before {
  content: attr(data-title);
}
@media (max-width: 768px) {
  .sidemenu .h1:before {
    content: attr(data-title-mobile);
  }
}
.sidemenu .sidemenu-navigation .nav-item {
  padding: 5px 0;
}
@media (min-width: 768px) and (max-width: 960px) {
  .sidemenu .sidemenu-navigation .nav-item {
    padding: 10px 0;
  }
}
.sidemenu .sidemenu-navigation .nav-item .nav-link {
  color: #323232;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2rem;
  transition: 0.3s ease-in;
}
@media (min-width: 768px) and (max-width: 960px) {
  .sidemenu .sidemenu-navigation .nav-item .nav-link {
    font-size: 1.5rem;
  }
}
.sidemenu .sidemenu-navigation .nav-item .nav-link .thumb {
  width: 44px;
  max-height: 43px;
  margin-right: 16px;
  text-align: center;
  display: flex;
}
.sidemenu .sidemenu-navigation .nav-item .nav-link .thumb img {
  min-width: 100%;
  width: auto;
  height: auto;
}
@media (min-width: 768px) and (max-width: 960px) {
  .sidemenu .sidemenu-navigation .nav-item .nav-link .thumb {
    display: none;
  }
}
.sidemenu .sidemenu-navigation .nav-item .nav-link .link {
  text-transform: lowercase;
  font-size: inherit;
  line-height: inherit;
}

.usp-list {
  padding: 23px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.usp-list li {
  position: relative;
  color: #9b9b9b;
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-left: 20px;
}
.usp-list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #769c00;
  width: 11.266px;
  height: 10px;
  background: url(../img/check-tick.png) no-repeat center center/contain;
}

.usp-horizontal {
  border-top: 1px solid #d0cdc7;
  margin: 20px -20px 0;
}
@media (max-width: 768px) {
  .usp-horizontal {
    display: none;
  }
}

.sidebar {
  display: none;
  width: 25%;
}
.sidebar .card-white + .card-white {
  margin-top: 20px;
}
.sidebar .usp-list li:before {
  top: 1rem;
}

.moment-overview {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
@media (max-width: 991px) {
  .moment-overview {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .moment-overview {
    grid-template-columns: repeat(2, 1fr);
  }
}
.moment-overview > .moment {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #d0cdc7;
  background-color: #fff;
  border-radius: 8px;
}
.moment-overview > .moment:active > .image {
  transform: scale(1.05);
}
.moment-overview > .moment:focus > .image {
  transform: scale(1.05);
}
.moment-overview > .moment > .image {
  display: flex;
  align-items: center;
  padding: 5px;
  transition: transform 0.2s ease-in-out;
  flex-grow: 1;
}
@media (hover: hover) {
  .moment-overview > .moment:hover > .image {
    transform: scale(1.05);
  }
}
.moment-overview > .moment > h3 {
  text-align: center;
  margin: 10px 0px;
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 600;
}

.moment {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #d0cdc7;
  background-color: #fff;
}
.moment:active > .image {
  transform: scale(1.05);
}
.moment:focus > .image {
  transform: scale(1.05);
}
.moment > .label {
  color: #9b9b9b;
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 600;
  padding: 10px;
  font-size: 1.5rem;
}
.moment > .image {
  display: flex;
  align-items: center;
  padding: 5px;
  transition: transform 0.2s ease-in-out;
}
.moment > a {
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.6rem;
  padding: 10px;
  flex-grow: 1;
}

#dropin-container .adyen-checkout__dropdown__element {
  font-size: 1.2rem;
}
#dropin-container .adyen-checkout__payment-method__name {
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 400;
  letter-spacing: 0.026em;
  font-size: 1.4rem;
}
#dropin-container .adyen-checkout__dropdown__button__text {
  font-size: 1.2rem;
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 400;
  letter-spacing: 0.026em;
}
#dropin-container .adyen-checkout__label__text {
  font-size: 1.2rem;
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 400;
  letter-spacing: 0.026em;
}
#dropin-container .adyen-checkout__button {
  font-size: 1.2rem;
  font-family: "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 400;
  letter-spacing: 0.026em;
}
#dropin-container .adyen-checkout__button__icon {
  width: unset;
  height: unset;
}

body.modal-open {
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */