@import "config";
@import "font";
@import "keyframes";
@import "utility";
@import "responsive";



html {
	margin: 0;
	padding: 0;
	font-family: $font-family_1;
	font-weight: 400;
	font-size: 62.5%;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
	font-size: 62.5%;
	text-size-adjust: 100%;
}
body {
	margin: 0;
	padding: 0;
	background-color: $background-color_1;
	text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "kern";
	-moz-font-feature-settings: "liga", "kern";
	&::after {
		display: none;
	}
}
body.grid-show {
	&::after {
		display: block;
	}
}
.page-wrapper {
	padding-top: 105px;
	.container {
		padding: 0 10px;
	}
}
.page-wrapper.scrolled-force {
	padding-top: 70px;
}
.page-wrapper.checkout {
	background-color: $background-color_2;
}

figure {
	margin: 0;
}

[data-back-to-top] {
	display: inline-block;
	margin: 16px 0 0 !important;
	line-height: 4rem;
	transition: color linear 0.2s;
	cursor: pointer !important;
	[class^=icon-] {
		margin-left: 5px;
	}
	[class*=icon-] {
		margin-left: 5px;
	}
	&:hover {
		color: $color_3;
	}
}




svg {
	overflow: hidden;
}
::placeholder {
	opacity: 1;
	line-height: 2rem;
	font-weight: 400;
	color: $color_19;
	font-size: 1.5rem;
}
::selection {
	background-color: $background-color_4;
	color: $color_1;
}






.header {
	.header-navigation {
		flex: 1;
		margin-left: 10px;
		font-family: $font-family_1;
		font-weight: 600;
		transition: all 0.3s ease-out;
		.main-navigation {
			.nav {
				.nav-item {
					.nav-link {
						font-family: $font-family_1;
						font-weight: 600;
						text-decoration: none;
						color: $color_3;
						font-size: 1.5rem;
						line-height: 1.7rem;
						letter-spacing: 0.035em;
						transition: color 0.3s ease-in-out;
						width: 100%;
						line-height: 4rem;
						position: relative;
						text-transform: lowercase;
						&:hover {
							color: $color_2;
						}
					}
					display: inline-flex;
				}
			}
			position: absolute;
			background-color: $background-color_1;
			height: 0;
			visibility: hidden;
			left: 0;
			top: 101px;
			width: 100%;
			>ul.nav {
				.switch {
					position: relative;
					display: inline-flex;
					align-items: center;
					border: 3px solid #5dc5e3;
					border-radius: 5px;
					background-color: $background-color_6;
					>a {
						padding: 11px 20px 9px 20px;
						color: $color_1;
						border-radius: 5px;
						transition: color 0.2s ease-in-out;
						&.active {
							background-color: $background-color_1;
							color: $color_3;
							pointer-events: none;
						}
						@include hover-device{
							&:not(.active){
								&:hover{
									color: $color_3;
								}
							}
						}
					}
				}
				>li.btn-primary {
					>a {
						color: inherit;
					}
				}
				@include lg {
					padding: 0 20px 10px;
				}
			}
			.top-links-mobile {
				position: relative;
				display: block;
				padding-top: 10px;
				margin: 10px 0;
				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 20px;
					right: 20px;
					height: 1px;
					background-color: $background-color_9;
					display: block;
				}
			}
		}
		.menu-toggle {
			position: relative;
			display: none;
			padding-left: 32px;
			background-color: $background-color_6;
			box-shadow: inset 0 -1px 0 0 #4ba7c2;
			border-radius: 4px;
			font-size: 1.5rem;
			color: $color_1;
			margin-top: auto;
			z-index: 12;
			text-decoration: none;
			height: 50px;
			display: flex;
			align-items: center;
			.hamburger {
				position: absolute;
				background-color: $background-color_1;
				left: 14px;
				width: 12px;
				height: 2px;
				&:before {
					content: "";
					position: absolute;
					width: 100%;
					height: 2px;
					background-color: $background-color_1;
					left: 0;
					top: -5px;
				}
				&:after {
					content: "";
					position: absolute;
					width: 100%;
					height: 2px;
					background-color: $background-color_1;
					left: 0;
					bottom: -5px;
				}
			}
			.open-text {
				margin-left: 6px;
			}
			.close-text {
				margin-left: 6px;
				display: none;
			}
		}
	}
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px;
	padding: 20px 0 10px 0;
	width: 100%;
	background-color: $background-color_1;
	border-bottom: 1px solid transparent;
	transition: all 0.3s ease-in;
	transition: top 0s;
	z-index: 9;
	.header-wrapper {
		padding: 0 10px;
		display: flex;
		align-items: flex-end;
		max-width: 1280px;
		margin: 0 auto;
	}
	.header-logo {
		width: 70px;
		transition: all 0.3s ease-in;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	.header-links {
		display: none;
		opacity: 1;
		height: 20px;
		visibility: hidden;
		width: 100%;
		position: fixed;
		left: 0;
		top: 20px;
		transition: all 0.3s ease-in;
		.wrapper {
			max-width: 1280px;
			padding-left: 110px;
			padding-right: 20px;
			margin: 0 auto;
			transition: padding-left 0.3s ease-in;
		}
		ul {
			display: flex;
			li.last {
				justify-self: flex-end;
				margin-left: auto;
				margin-right: 0;
				width: auto;
			}
			li {
				a {
					font-size: 1.5rem !important;
				}
				+ {
					li {
						margin-left: 20px;
					}
				}
			}
		}
	}
}

.back-to-top {
	display: block;
	position: fixed;
	bottom: -65px;
	right: 20px;
	width: 40px;
	height: 39px;
	margin: 0;
	border: 1px solid #d0cdc7;
	border-bottom: none;
	border-radius: 4px 4px 0 0;
	background-image: url(../img/icon-back-to-top.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: $background-color_1;
	will-change: transform;
	z-index: 8;
	transition: 0.3s ease-in;
}
.back-to-top.visible {
	bottom: 0;
}

.btn-cta {
	display: inline-block;
	position: relative;
	padding: 11px 20px 9px 20px;
	font-family: $font-family_1;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1.8rem;
	vertical-align: top;
	white-space: nowrap;
	cursor: pointer;
	border-radius: 4px;
	height: 40px;
	text-align: center;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out border-radius 0.3s ease-in-out;
	background-color: $background-color_10;
	color: $color_1;
	box-shadow: inset 0 -1px 0 0 #D69E34;
	&:hover {
		background-color: $background-color_11;
		color: $color_1 !important;
	}
	&:focus {
		background-color: $background-color_11;
		color: $color_1 !important;
	}
}
.btn-secondary {
	display: inline-block;
	position: relative;
	padding: 11px 20px 9px 20px;
	font-family: $font-family_1;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1.8rem;
	vertical-align: top;
	white-space: nowrap;
	cursor: pointer;
	border-radius: 4px;
	height: 40px;
	text-align: center;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out border-radius 0.3s ease-in-out;
	background-color: $background-color_5;
	color: $color_3;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
	&:hover {
		background-color: $background-color_9;
		color: $color_3;
	}
	&:focus {
		background-color: $background-color_9;
		color: $color_3;
	}
}
.btn-primary {
	display: inline-block;
	position: relative;
	padding: 11px 20px 9px 20px;
	font-family: $font-family_1;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1.8rem;
	vertical-align: top;
	white-space: nowrap;
	cursor: pointer;
	border-radius: 4px;
	height: 40px;
	text-align: center;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out border-radius 0.3s ease-in-out;
	background-color: $background-color_6;
	color: $color_1;
	box-shadow: 0 1px 0 0 #4BA7C2;
	&:hover {
		background-color: $background-color_8;
		color: $color_1;
	}
	&:focus {
		background-color: $background-color_8;
		color: $color_1;
	}
}

.is-square.btn-cta {
	width: 40px;
	height: 40px;
	padding: 0;
}
.is-square.btn-secondary {
	width: 40px;
	height: 40px;
	padding: 0;
}
.is-square.btn-primary {
	width: 40px;
	height: 40px;
	padding: 0;
}

.disabled.btn-cta {
	background-color: $background-color_7 !important;
	color: $color_11 !important;
	box-shadow: none;
	pointer-events: none;
	display: flex;
}
.disabled.btn-secondary {
	background-color: $background-color_7 !important;
	color: $color_11 !important;
	box-shadow: none;
	pointer-events: none;
	display: flex;
}
.disabled.btn-primary {
	background-color: $background-color_7 !important;
	color: $color_11 !important;
	box-shadow: none;
	pointer-events: none;
	display: flex;
}

.loading.btn-cta {
	&:before {
		content: "";
		box-sizing: border-box;
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 2px solid #ccc;
		border-top-color: $border-top-color_1;
		animation: spinner 0.6s linear infinite;
		margin-right: 15px;
	}
}
.loading.btn-secondary {
	&:before {
		content: "";
		box-sizing: border-box;
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 2px solid #ccc;
		border-top-color: $border-top-color_1;
		animation: spinner 0.6s linear infinite;
		margin-right: 15px;
	}
}
.loading.btn-primary {
	&:before {
		content: "";
		box-sizing: border-box;
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 2px solid #ccc;
		border-top-color: $border-top-color_1;
		animation: spinner 0.6s linear infinite;
		margin-right: 15px;
	}
}

.disabled-black.btn-cta {
	background-color: $background-color_7 !important;
	color: $color_3 !important;
	box-shadow: none;
	pointer-events: none;
}
.disabled-black.btn-secondary {
	background-color: $background-color_7 !important;
	color: $color_3 !important;
	box-shadow: none;
	pointer-events: none;
}
.disabled-black.btn-primary {
	background-color: $background-color_7 !important;
	color: $color_3 !important;
	box-shadow: none;
	pointer-events: none;
}


.card-white {
	display: block;
	background-color: $background-color_1;
	padding: 28px;
	border-radius: 12px;
	.card-header {
		.h2 {
			text-transform: lowercase;
			font-family: $font-family_1;
			font-weight: 700;
			+ {
				p {
					margin-top: 10px;
				}
			}
		}
		.account {
			.accountmenu-sidebar {
				header {
					>.title {
						text-transform: lowercase;
						font-family: $font-family_1;
						font-weight: 700;
						+ {
							p {
								margin-top: 10px;
							}
						}
					}
				}
			}
		}
		.product-wrapper {
			.product-detail {
				.product-title {
					.mobile-price {
						.product-price {
							text-transform: lowercase;
							font-family: $font-family_1;
							font-weight: 700;
							+ {
								p {
									margin-top: 10px;
								}
							}
						}
						.price {
							text-transform: lowercase;
							font-family: $font-family_1;
							font-weight: 700;
							+ {
								p {
									margin-top: 10px;
								}
							}
						}
					}
				}
			}
		}
		.h1 {
			+ {
				p {
					margin-top: 10px;
				}
			}
		}
		+ {
			.card-content {
				margin-top: 15px;
			}
		}
	}
}
.minicart {
	display: flex;
}
.minicart-trigger {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	margin-left: 10px;
	padding: 0 10px;
	user-select: none;
	cursor: pointer;
	.cart-icon {
		position: relative;
		width: 27px;
		height: 27px;
		.icon-basket {
			font-size: 2.4rem;
			color: $color_13;
			z-index: 1;
		}
		.count {
			position: absolute;
			font-size: 1rem;
			top: 6px;
			left: 10px;
			z-index: 2;
		}
	}
	.minicart-price {
		display: none;
		font-size: 1.6rem;
		font-weight: 600;
		margin-left: 10px;
		.product-price {
			font-size: 1.6rem;
			line-height: 1.6rem;
		}
		.price {
			font-size: 1.6rem;
			line-height: 1.6rem;
		}
		.icon-price-round {
			display: inline-block;
			padding-left: 2px;
			font-size: 1.5rem;
		}
	}
	&:hover {
		color: $color_1;
	}
}


.seo-block {
	.card-header {
		padding-bottom: 15px;
		.h2 {
			color: $color_2;
		}
		.account {
			.accountmenu-sidebar {
				header {
					>.title {
						color: $color_2;
					}
				}
			}
		}
		
	}
}
.text-and-image {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	min-height: 300px;
	border-radius: 12px;
	overflow: hidden;
	.image {
		position: relative;
		display: block;
		>img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	.text-block {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 20px;
		gap: 10px;
		.title {
			text-align: center;
			>* {
				font-size: 2.4rem;
				line-height: 3rem;
				font-weight: 700;
			}
		}
	}
}



.accountmenu {
	position: relative;
	&-trigger {
		width: 50px;
		height: 50px !important;
		display: flex !important;
		justify-content: center;
		align-items: center;
		padding: 0 !important;
		margin-left: 10px;
		position: relative;
		z-index: 40;
		>.icon-user {
			font-size: 1.6rem;
			color: $color_24;
		}
		&[href=""]{
			cursor: auto;
			pointer-events: none;
	
		}
	}
	&-panel {
		position: absolute;
		display: none;
		top: 50px;
		left: auto;
		right: -70px;
		width: 100vw;
		padding: 15px;
		background-color: $background-color_1;
		border-bottom: 1px solid #e0e0e0;
		z-index: 30;
		>.accountmenu-inner {
			background-color: $background-color_1;
			border-radius: 4px;
			padding: 10px 0;
			>.h4 {
				display: block;
				padding: 0 35px;
				margin-bottom: 10px !important;
				padding: 0 15px;
				&:hover {
					color: inherit;
					text-decoration: underline;
				}
			}
			>ul {
				>li {
					>a {
						display: block;
						padding: 6px 15px;
						font-size: 1.5rem;
						line-height: 2rem;
						font-family: $font-family_1;
						font-weight: 400;
						&:hover {
							background-color: $background-color_7;
							color: inherit;
						}
					}
				}
			}
		}
		&.active {
			display: block;
			
		}
	}
}


.header.scrolled {
	padding: 5px 0;
	border-bottom-color: $border-bottom-color_3;
	.header-logo {
		width: 50px;
	}
	.header-navigation {
		.top-links {
			opacity: 0;
			transform: translate(-30px, -90px);
			height: 0;
		}
	}
	.header-links {
		top: -20px;
		opacity: 0;
		.wrapper {
			padding-left: 70px;
		}
	}
	.menu-open {
		.main-navigation {
			top: 61px;
		}
	}
}
.header.scrolled-force {
	padding: 5px 0;
	border-bottom-color: $border-bottom-color_3;
	.header-logo {
		width: 50px;
	}
	.header-navigation {
		.top-links {
			opacity: 0;
			transform: translate(-30px, -90px);
			height: 0;
		}
	}
	.header-links {
		top: -20px;
		opacity: 0;
		.wrapper {
			padding-left: 70px;
		}
	}
	.menu-open {
		.main-navigation {
			top: 61px;
		}
	}
}
body.menu-open {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	position: fixed;
	top: 0;
}
.footer {
	background-color: $background-color_1;
	padding-bottom: 20px;
	.h3 {
		margin-bottom: 10px;
	}
	@include md {

		.container {
			padding: 0;
		}
		&-bar {
			>.col {
				flex-direction: column;
			}
			.container {
				flex-direction: column;
			}
		}
	}
	.upsell-dialog {
		.modal-window {
			.modal-header {
				.h2 {
					margin-bottom: 10px;
				}
				.account {
					.accountmenu-sidebar {
						header {
							>.title {
								margin-bottom: 10px;
							}
						}
					}
				}
				.product-wrapper {
					.product-detail {
						.product-title {
							.mobile-price {
								.product-price {
									margin-bottom: 10px;
								}
								.price {
									margin-bottom: 10px;
								}
							}
						}
					}
				}
			}
		}
	}
	.footer-bar {
		background-color: $background-color_19;
		padding: 40px 20px;
		.col {
			+ {
				.col {
					margin-top: 30px;
				}
			}
		}
		>.col {
			display: flex;
			justify-content: space-between;
			.links {
				li {
					display: block;
					margin-bottom: 6px;
					a {
						letter-spacing: 0.03em;
						border-bottom: 1px solid transparent;
						font-family: $font-family_1;
						font-weight: 400;
						&:hover {
							border-color: $border-color_3;
						}
					}
				}
			}
		}
		.container {
			display: flex;
			justify-content: space-between;
			.links {
				li {
					display: block;
					margin-bottom: 6px;
					a {
						letter-spacing: 0.03em;
						border-bottom: 1px solid transparent;
						font-family: $font-family_1;
						font-weight: 400;
						&:hover {
							border-color: $border-color_3;
						}
					}
				}
			}
		}
		.footer-contact {
			margin-bottom: 30px;
			.phone {
				font-size: 2.4rem;
				line-height: 1;
				text-decoration: none;
				display: block;
				margin-bottom: 10px;
				a {
					font-size: 2.4rem;
					line-height: 1;
					text-decoration: none;
				}
			}
			span {
				display: block;
			}
		}
		a {
			color: $color_1;
		}
		p {
			color: $color_1;
			margin: 0;
		}
		.h3 {
			color: $color_1;
		}
		.upsell-dialog {
			.modal-window {
				.modal-header {
					.h2 {
						color: $color_1;
					}
					.account {
						.accountmenu-sidebar {
							header {
								>.title {
									color: $color_1;
								}
							}
						}
					}
					.product-wrapper {
						.product-detail {
							.product-title {
								.mobile-price {
									.product-price {
										color: $color_1;
									}
									.price {
										color: $color_1;
									}
								}
							}
						}
					}
				}
			}
		}
		.text {
			color: $color_1;
		}
		.order-detail {
			.m-order-detail-shoppingcart {
				.cartlines {
					>li {
						.piece-price {
							.product-price {
								color: $color_1;
							}
							.price {
								color: $color_1;
							}
						}
					}
				}
				.price-block {
					>div {
						>.product-price {
							color: $color_1;
						}
						.price {
							color: $color_1;
						}
						>.label {
							color: $color_1;
						}
					}
				}
			}
			.personalization {
				>div {
					.value {
						color: $color_1;
					}
					.label {
						color: $color_1;
					}
				}
			}
		}
		.account {
			.account-info {
				>div {
					color: $color_1;
				}
			}
		}
		.order-overview {
			>.order-list {
				>.order {
					>a {
						>span {
							color: $color_1;
						}
					}
				}
			}
			>.order-list-header {
				>span {
					color: $color_1;
				}
			}
		}
		.usergenerated {
			span {
				color: $color_1;
			}
		}
		.radio {
			input {
				~ {
					span {
						color: $color_1;
					}
				}
			}
		}
		.checkbox {
			input {
				~ {
					span {
						color: $color_1;
					}
				}
			}
		}
		.field-validation-error {
			color: $color_1;
		}
		.toast {
			color: $color_1;
		}
		.register {
			form {
				.explanation {
					color: $color_1;
				}
			}
		}
		.m-product-configuration {
			.m-selected-package {
				.label {
					color: $color_1;
				}
				.package-name {
					color: $color_1;
				}
			}
		}
		.m-item-options {
			.price-per-piece {
				color: $color_1;
				.product-price {
					span {
						color: $color_1;
					}
				}
			}
		}
		.text-underline {
			text-decoration: underline;
		}
	}
	.footer-top {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		>div {
			+ {
				div {
					padding-top: 35px;
					border-top: 1px solid #d0cdc7;
				}
			}
		}
		.footer-payment {
			order: 2;
			padding: 20px;
			.payment-options {
				display: flex;
				flex-direction: row;
				align-items: center;
				li {
					+ {
						li {
							margin-left: 7px;
						}
					}
				}
			}
		}
		.footer-social {
			order: 1;
			padding: 20px;
			.social-links {
				display: flex;
				align-items: center;
				li {
					+ {
						li {
							margin-left: 10px;
						}
					}
					a {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 24px;
						height: 24px;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
	}
	.footer-bottom {
		display: none;
		visibility: hidden;
		padding: 24px 0;
		padding: 35px 20px 33px 20px;
		border-top: 1px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
		.footer-row {
			width: calc(100% - 70px);
			display: flex;
			flex-direction: row;
			align-items: center;
			padding-left: 20px;
			nav {
				margin-left: auto;
			}
			>div {
				padding-left: 20px;
				&:last-child {
					margin-top: 15px;
				}
			}
		}
	}
	.footer-logo {
		width: 70px;
		a {
			display: block;
			img {
				display: block;
				max-width: 100%;
				height: auto;
			}
		}
	}
	.footer-bottom-nav {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		row-gap: 10px;
		column-gap: 20px;
		li {
			display: flex;
			align-items: center;
			a {
				font-family: $font-family_1;
				font-weight: 600;
				font-size: 1.3rem;
				line-height: 1;
			}
			img {
				position: relative;
				top: -2px;
				display: block;
				width: 22px;
				height: 22px;
				margin-left: 10px;
			}
		}
	}
	.footer-bottom-mobile {
		display: block;
		visibility: visible;
		border-top: 1px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
		.footer-bottom-nav {
			flex-direction: column;
			padding: 20px;
			flex-direction: row;
			flex-wrap: wrap;
			row-gap: 10px;
			column-gap: 10px;
			li {
				position: relative;
				padding-right: 10px;
				a {
					line-height: 1.6rem;
				}
				&:after {
					content: "";
					position: absolute;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
					width: 1px;
					height: 15px;
					background-color: $background-color_4;
				}
				+ {
					li {
						margin-left: 0;
					}
				}
				&:last-child {
					&:after {
						display: none;
					}
				}
			}
		}
		.footer-bottom-logo {
			border-top: 1px solid #d0cdc7;
			padding: 20px;
		}
	}
}
.icon-brand{
	// width: 25px;
	// height: 25px;
	// overflow: hidden;
	// background-size:30px 30px;
	display: inline-block;
	background-image: url(../img/sprite_new.svg);
	background-size: 40px 41px;
	&.ico-facebook {
		// display: inline-block;
		// background-image: url(../img/facebook.svg);
		// background-position: 0px -8px;
		width: 21px;
    height: 22px;
    background-position: -10px 1px;
		
		
}
// .ico.ico-facebook {
// 	width: 50px;
// 	height: 46px;
// 	background-position: center center;
// 	background-size: cover;
// 	background-repeat: no-repeat;
// 	background-image: url(../img/facebook.svg);
// }

}
.ico-twitter {
	width: 21px;
	height: 18px;
	width: 50px;
	height: 46px;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../img/twitter.svg);
}
.ico.ico-instagram {
	width: 23px;
	height: 23px;
	background: url(../img/instagram.png) center center no-repeat;
	background-size: 100% 100%;
	display: inline-block;
}
.ico.ico-snapchat {
	width: 25px;
	height: 25px;
	width: 50px;
	height: 46px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../img/snapchat.svg);
}
.ico.ico-ideal {
	width: 27px;
	height: 24px;
	width: 50px;
	height: 46px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../img/ideal.svg);
	transform: scale(0.9);
}
.ico.ico-mastercard {
	width: 43px;
	height: 27px;
	background-position: -10px -1877px;
	transform: scale(0.9);
}
.ico.ico-visa {
	width: 55px;
	height: 18.4px;
	background-position: -10px -3304px;
	transform: scale(0.9);
}
.ico.ico-paypal {
	width: 63px;
	height: 17px;
	background-position: -10px -2227px;
	transform: scale(0.9);
}
.ico.ico-bancontact {
	width: 46px;
	height: 28px;
	background: url(/Frontend/dist/assets/icons/bancontact.png) no-repeat;
}

.grid {
	>.row {
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;
		flex: 1;
		>.column.col-xs-1 {
			width: 8.3333333333%;
		}
		>.column.col-xs-2 {
			width: 16.6666666667%;
		}
		>.column.col-xs-3 {
			width: 25%;
		}
		>.column.col-xs-4 {
			width: 33.3333333333%;
		}
		>.column.col-xs-5 {
			width: 41.6666666667%;
		}
		>.column.col-xs-6 {
			width: 50%;
		}
		>.column.col-xs-7 {
			width: 58.3333333333%;
		}
		>.column.col-xs-8 {
			width: 66.6666666667%;
		}
		>.column.col-xs-9 {
			width: 75%;
		}
		>.column.col-xs-10 {
			width: 83.3333333333%;
		}
		>.column.col-xs-11 {
			width: 91.6666666667%;
		}
		>.column.col-xs-12 {
			width: 100%;
		}
	}
}
.seo-grid{
	&.grid-2 {
		--min-column-size: 400px;
		gap: 20px;
	}
}
.section-grey {
	padding: 10px 0 20px;
	background-color: $background-color_2;
	+ {
		.section-grey {
			&:not(.bg-image) {
				padding-top: 0;
			}
		}
	}
}
.section-white {
	padding: 10px 0 20px;
	background-color: $background-color_1;
	+ {
		.section-white {
			&:not(.bg-image) {
				padding-top: 0;
			}
		}
	}
}
.bg-image.section-grey {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	+ {
		section {
			padding-top: 40px !important;
		}
	}
}
.bg-image.section-white {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	+ {
		section {
			padding-top: 40px !important;
		}
	}
}
.no-spacing.section-grey {
	padding: 0 !important;
}
.no-spacing.section-white {
	padding: 0 !important;
}
.vertical-spacing-big.section-grey {
	padding-top: 40px;
	padding-bottom: 40px;
}
.vertical-spacing-big.section-white {
	padding-top: 40px;
	padding-bottom: 40px;
}
.section-intro {
	padding: 0;
	padding-top: 10px;
}
.shop-hours {
	padding: 7px 0 20px;
	i {
		font-size: 1.5rem;
		display: inline-block;
		transition: transform 0.3s ease-in;
	}
	&:hover {
		i {
			transform: translateX(5px);
		}
	}
}
.hero {
	display: flex;
	@include md {
		flex-direction: column-reverse;
	}
	.banner-container {

		margin-top: 20px;
	}
	.featured-banner {
		width: 75.5%;
		height: 100%;
		padding-left: 20px;
		@include md {
			width: 100%;
			padding: 0;
			margin-bottom: 20px;
		}
		.main-banner {
			position: relative;
			background-color: $background-color_1;
			img {
				border-radius: 12px;
				overflow: hidden;
			}
			.usergenerated-text {
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 20px;
				padding: 20px;
				height: 100%;
				width: 100%;
				@include md {
					top: 8px;
					left: 12px;
					margin: 0;
					padding: 0;
				}
				.h1 {
					p {
						font-size: inherit;
						line-height: inherit;
						margin: 0;
						padding: 0;
					}
					span {
						font-size: inherit;
						line-height: inherit;
						margin: 0;
						padding: 0;
					}
					li {
						font-size: inherit;
						line-height: inherit;
						margin: 0;
						padding: 0;
					}
					a {
						font-size: inherit;
						line-height: inherit;
						margin: 0;
						padding: 0;
					}
					strong {
						font-size: inherit;
						line-height: inherit;
						margin: 0;
						padding: 0;
					}
					@include md{
						font-size: 1.7rem;
						line-height: 2.2rem;
						margin: 0;
						padding: 0;
					}
				}
				.btn{

					@include md {
						margin-top: 20px;
					}
				}
				.usp-list {
					padding: 0;
					li {
						color: $color_3;
					}
					@include md {
						display: none;
					}
				}
			}
		}
		.small-banner {
			position: relative;
			display: flex;
			align-items: center;
			padding: 15px 40px 15px 20px;
			background-color: $background-color_2;
			border-radius: 12px;
			overflow: hidden;
			>.image {
				max-width: 100px;
				min-width: 100px;
				margin-right: 20px;
				@include esm {
					max-width: 80px;
					min-width: 80px;
				}
				img {
					display: block;
					max-width: 100%;
					height: auto;
					border-radius: 8px;
					overflow: hidden;
				}
			}
			>.content {
				>.title {
					* {
						font-family: $font-family_1;
						font-weight: 700;
						color: $color_3;
						letter-spacing: 0.026em;
						font-size: clamp(2.0rem, 4vw, 2.8rem);
						line-height: 1.1;
					}
				}
			}
			>svg {
				position: absolute;
				top: 50%;
				right: 20px;
				transform: translateY(-50%);
				font-size: 3rem;
				color: $color_1;
			}
		}
	}
}
.sidemenu {
	width: 24.5%;
	padding-right: 20px;
	margin-bottom: 20px;
	@include md {
		width: 100%;
	}
	.h1 {
		margin-bottom: 20px;
		&:before {
			content: attr(data-title-mobile);
		}
	}
	.sidemenu-navigation {
		.nav-item {
			padding: 5px 0;
			@include md-lg {
				padding: 10px 0;
			}
			.nav-link {
				color: $color_3;
				text-decoration: none;
				display: flex;
				align-items: center;
				font-size: 1.8rem;
				font-weight: 600;
				line-height: 2rem;
				transition: 0.3s ease-in;
				@include md-lg {
					font-size: 1.5rem;
				}
				.thumb {
					width: 44px;
					max-height: 43px;
					margin-right: 16px;
					text-align: center;
					display: flex;
					img {
						min-width: 100%;
						width: auto;
						height: auto;
					}
					@include md-lg {
						display: none;
					}
				}
				.link {
					text-transform: lowercase;
					font-size: inherit;
					line-height: inherit;
				}
			}
		}
	}
}
.usp-list {
	padding: 23px 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	li {
		position: relative;
		color: $color_9;
		font-family: $font-family_1;
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 2rem;
		padding-left: 20px;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			color: $color_8;
			width:11.266px;
			height: 10px;
			background: url(../img/check-tick.png) no-repeat center center / contain;
		}
	}
}
.usp-horizontal {
	border-top: 1px solid #d0cdc7;
	margin: 20px -20px 0;
	@include md {
		display: none;
	}
}
.usp-vertical {
	.usp-list {
		flex-direction: column;
		li {
			+ {
				li {
					margin-top: 12px;
				}
			}
		}
	}
}
.product-overview {
	overflow: hidden;
	+ {
		.product-overview {
			margin-top: 40px;
		}
	}
	.section-header {
		margin-bottom: 20px;
		text-transform: lowercase;
		.h3 {
			color: $color_2;
		}
		// .upsell-dialog {
		// 	.modal-window {
		// 		.modal-header {
		// 			.h2 {
		// 				color: $color_2;
		// 			}
		// 			.account {
		// 				.accountmenu-sidebar {
		// 					header {
		// 						>.title {
		// 							color: $color_2;
		// 						}
		// 					}
		// 				}
		// 			}
		// 			.product-wrapper {
		// 				.product-detail {
		// 					.product-title {
		// 						.mobile-price {
		// 							.product-price {
		// 								color: $color_2;
		// 							}
		// 							.price {
		// 								color: $color_2;
		// 							}
		// 						}
		// 					}
		// 				}
		// 			}
		// 		}
		// 	}
		// }
		.summit-text {
			display: block;
			font-size: 1.5rem;
			line-height: 1.5rem;
			margin-top: 10px;
			span {
				font-size: inherit;
				line-height: inherit;
			}
			a {
				font-size: inherit;
				line-height: inherit;
				color: $color_6 !important;
				text-decoration: none;
				line-height: 1.5 !important;
				&:hover {
					color: $color_3;
					border-color: $border-color_1;
				}
			}
		}
	}
	.product-grid {
		.product {
			position: relative;
			padding: 40px 0 20px;
			border: 1px solid #d0cdc7;
			background-color: $background-color_1;
			display: flex;
			flex-direction: column;
			border-radius: 8px;
			overflow: hidden;
			&:hover {
				.product-image {
					transform: scale(1.05);
				}
			}
			.product-tag {
				position: absolute;
				top: 18px;
				left: 20px;
				font-size: 1.5rem;
				font-weight: bold;
				text-transform: lowercase;
				color: $color_9;
				z-index: 2;
			}
			.product-image {
				position: relative;
				padding-bottom: 100%;
				margin-bottom: 15px;
				margin: -1px 0 0 -1px;
				overflow: hidden;
				transition: transform 0.2s ease-in-out;
				img {
					position: absolute;
					top: 50%;
					left: 50%;
					max-width: 90%;
					max-height: 90%;
					height: auto;
					width: auto;
					-webkit-transform: scale(1) translate(-50%, -50%);
					transform: scale(1) translate(-50%, -50%);
					transition: 0.2s ease-out;
					will-change: transform;
				}
			}
			.product-info {
				padding: 0 20px;
				h3 {
					font-family: $font-family_1;
					font-weight: 400;
					font-size: 1.5rem;
					line-height: 1.6rem;
				}
			}
			.product-footer {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding: 0 20px;
				padding-top: 20px;
				margin-top: auto;
			}
			.product-price {
				display: flex;
				flex-direction: column;
				text-align: left;
				.price-info {
					font-weight: 700;
					font-size: 1.5rem;
					line-height: 1.6rem;
				}
				.price {
					display: flex;
					font-size: 4rem;
					line-height: 1;
					font-family: $font-family_1;
					font-weight: 700;
					white-space: nowrap;
					.icon-price-round {
						font-size: 4rem;
						margin-left: 2px;
					}
				}
			}
		}
		.product.banner {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 40px;
			background-color: $background-color_20;
			border-right: transparent;
			.h3 {
				color: $color_1;
				width: 100%;
			}
			.upsell-dialog {
				.modal-window {
					.modal-header {
						.h2 {
							color: $color_1;
							width: 100%;
						}
						.account {
							.accountmenu-sidebar {
								header {
									>.title {
										color: $color_1;
										width: 100%;
									}
								}
							}
						}
						.product-wrapper {
							.product-detail {
								.product-title {
									.mobile-price {
										.product-price {
											color: $color_1;
											width: 100%;
										}
										.price {
											color: $color_1;
											width: 100%;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.product-information {
	display: flex;
	flex-direction: column;
	.card-white {
		width: 100%;
		+ {
			.tabs {
				width: 100%;
				margin-top: 20px;
				margin-left: 0;
			}
		}
	}
}
.error-page {
	.container {
		border-bottom: 1px solid #d0cdc7;
	}
	.grid {
		background-color: $background-color_1;
		padding: 30px 0;
		.error-img {
			img {
				max-width: 70%;
				margin: 0 auto;
			}
		}
		.page-content {
			.huge-h1 {
				font-size: 3rem;
				line-height: 9rem;
				margin-bottom: 15px;
				letter-spacing: 0.026em;
			}
			p {
				max-width: 410px;
				line-height: 20px;
				margin-bottom: 15px;
				letter-spacing: 0.03em;
				+ {
					p {
						margin-top: 15px;
					}
				}
			}
			.cta-block {
				margin-top: 15px;
				.btn-primary {
					width: 100%;
					+ {
						.btn-primary {
							margin-left: 0;
							margin-top: 10px;
						}
					}
				}
			}
		}
	}
}
.success-page {
	.content {
		width: 100%;
		.card-header {
			margin-bottom: 20px;
		}
		p {
			+ {
				p {
					margin-top: 10px;
				}
			}
		}
		.btn-cta {
			margin-top: 20px;
		}
	}
	.sidebar-service {
		width: 100%;
		display: block;
		margin-top: 20px;
	}
}
.shoppingcart {
	display: flex;
	justify-content: space-between;
	.shoppingcart-inner {
		position: relative;
		width: 100%;
		padding: 0;
		transition: width 0.3s ease-in-out;
	}
}
.sidebar {
	display: none;
	width: 25%;
	.card-white {
		+ {
			.card-white {
				margin-top: 20px;
			}
		}
	}
	.usp-list {
		.text {
			font-weight: bold;
		}
		.order-detail {
			.m-order-detail-shoppingcart {
				.cartlines {
					>li {
						.piece-price {
							.product-price {
								font-weight: bold;
							}
							.price {
								font-weight: bold;
							}
						}
					}
				}
				.price-block {
					>div {
						>.product-price {
							font-weight: bold;
						}
						.price {
							font-weight: bold;
						}
						>.label {
							font-weight: bold;
						}
					}
				}
			}
			.personalization {
				>div {
					.value {
						font-weight: bold;
					}
					.label {
						font-weight: bold;
					}
				}
			}
		}
		.account {
			.account-info {
				>div {
					font-weight: bold;
				}
			}
		}
		.order-overview {
			>.order-list {
				>.order {
					>a {
						>span {
							font-weight: bold;
						}
					}
				}
			}
			>.order-list-header {
				>span {
					font-weight: bold;
				}
			}
		}
		.usergenerated {
			p {
				font-weight: bold;
			}
			span {
				font-weight: bold;
			}
		}
		.radio {
			input {
				~ {
					span {
						font-weight: bold;
					}
				}
			}
		}
		.checkbox {
			input {
				~ {
					span {
						font-weight: bold;
					}
				}
			}
		}
		.field-validation-error {
			font-weight: bold;
		}
		.toast {
			font-weight: bold;
		}
		.register {
			form {
				.explanation {
					font-weight: bold;
				}
			}
		}
		.m-product-configuration {
			.m-selected-package {
				.label {
					font-weight: bold;
				}
				.package-name {
					font-weight: bold;
				}
			}
		}
		.m-item-options {
			.price-per-piece {
				font-weight: bold;
				.product-price {
					span {
						font-weight: bold;
					}
				}
			}
		}
		li {
			&:before {
				top: 1rem;
			}
		}
	}
}
.service-usps {
	.card-title {
		margin-bottom: 15px;
	}
}
.customerservice {
	.text {
		display: inline-block;
		color: $color_9;
		margin-top: 15px;
	}
	.order-detail {
		.m-order-detail-shoppingcart {
			.cartlines {
				>li {
					.piece-price {
						.product-price {
							display: inline-block;
							color: $color_9;
							margin-top: 15px;
						}
						.price {
							display: inline-block;
							color: $color_9;
							margin-top: 15px;
						}
					}
				}
			}
			.price-block {
				>div {
					>.product-price {
						display: inline-block;
						color: $color_9;
						margin-top: 15px;
					}
					.price {
						display: inline-block;
						color: $color_9;
						margin-top: 15px;
					}
					>.label {
						display: inline-block;
						color: $color_9;
						margin-top: 15px;
					}
				}
			}
		}
		.personalization {
			>div {
				.value {
					display: inline-block;
					color: $color_9;
					margin-top: 15px;
				}
				.label {
					display: inline-block;
					color: $color_9;
					margin-top: 15px;
				}
			}
		}
	}
	.account {
		.account-info {
			>div {
				display: inline-block;
				color: $color_9;
				margin-top: 15px;
			}
		}
	}
	.order-overview {
		>.order-list {
			>.order {
				>a {
					>span {
						display: inline-block;
						color: $color_9;
						margin-top: 15px;
					}
				}
			}
		}
		>.order-list-header {
			>span {
				display: inline-block;
				color: $color_9;
				margin-top: 15px;
			}
		}
	}
	.usergenerated {
		p {
			display: inline-block;
			color: $color_9;
			margin-top: 15px;
		}
		span {
			display: inline-block;
			color: $color_9;
			margin-top: 15px;
		}
	}
	.radio {
		input {
			~ {
				span {
					display: inline-block;
					color: $color_9;
					margin-top: 15px;
				}
			}
		}
	}
	.checkbox {
		input {
			~ {
				span {
					display: inline-block;
					color: $color_9;
					margin-top: 15px;
				}
			}
		}
	}
	.field-validation-error {
		display: inline-block;
		color: $color_9;
		margin-top: 15px;
	}
	.toast {
		display: inline-block;
		color: $color_9;
		margin-top: 15px;
	}
	.register {
		form {
			.explanation {
				display: inline-block;
				color: $color_9;
				margin-top: 15px;
			}
		}
	}
	.m-product-configuration {
		.m-selected-package {
			.label {
				display: inline-block;
				color: $color_9;
				margin-top: 15px;
			}
			.package-name {
				display: inline-block;
				color: $color_9;
				margin-top: 15px;
			}
		}
	}
	.m-item-options {
		.price-per-piece {
			display: inline-block;
			color: $color_9;
			margin-top: 15px;
			.product-price {
				span {
					display: inline-block;
					color: $color_9;
					margin-top: 15px;
				}
			}
		}
	}
	.status-tag {
		margin-left: 5px;
		background-color: $background-color_12;
		padding: 3px 4px;
		border-radius: 4px;
		font-size: 1.2rem;
		color: $color_1;
		white-space: nowrap;
	}
	.link {
		display: inline-block;
		margin-top: 15px;
	}
}
.product-configurator {
	.form-control {
		input {
			height: 40px;
			font: 400 1.5rem "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
		}
	}
	textarea {
		font: 400 1.5rem "HurmeHEMA", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	}
	.product-type {
		color: $color_9;
	}
	.default-options {
		display: flex;
		margin: -5px;
		margin-top: 10px;
		flex-wrap: wrap;
		.option {
			margin: 5px;
			padding: 11px 10px 9px 11px !important;
		}
	}
	form {
		margin-top: 15px;
		margin-bottom: 15px;
		.form-label {
			color: $color_9;
			font-size: 1.5rem;
			font-weight: 400;
			margin-bottom: 3px;
		}
		.base-options {
			display: flex;
			flex-direction: column;
			.options {
				top: 40px;
			}
			.form-group {
				+ {
					.form-group {
						margin-left: 0;
						margin-top: 10px;
					}
				}
			}
			.product-quantity {
				width: 100%;
			}
			.product-value {
				width: 100%;
			}
		}
		.delivery-options {
			border-top: 1px solid #d0cdc7;
			margin-top: 15px;
			padding-top: 15px;
			.options {
				width: 100%;
				display: flex;
				border-bottom: 1px solid #d0cdc7;
				padding-bottom: 10px;
				.btn {
					width: 50%;
					position: relative;
					&:after {
						content: "";
						opacity: 0;
						position: absolute;
						top: calc(100% + 9px);
						left: 0;
						height: 2px;
						width: 100%;
						background-color: $background-color_6;
						transition: opacity 0.3s ease-in-out;
					}
					&:hover {
						&:after {
							opacity: 1;
						}
					}
				}
				.btn.active {
					&:after {
						opacity: 1;
					}
				}
			}
			.delivery-information {
				margin-top: 15px;
				.form-group {
					+ {
						.form-group {
							margin-top: 10px;
						}
					}
				}
			}
		}
		.btn-cta {
			margin-top: 15px;
		}
	}
}
.moment-overview {
	display: grid;
	grid-template-columns:  repeat(5, 1fr);
	gap: 10px;
	@include lg {
		grid-template-columns: repeat(3, 1fr);
	}
	@include md {
		grid-template-columns: repeat(2, 1fr);
	}
	>.moment {
		display: flex;
		flex-direction: column;
		padding: 10px;
		border: 1px solid #d0cdc7;
		background-color: $background-color_1;
		border-radius: 8px;
		&:active {
			>.image {
				transform: scale(1.05);
			}
		}
		&:focus {
			>.image {
				transform: scale(1.05);
			}
		}
		>.image {
			display: flex;
			align-items: center;
			padding: 5px;
			transition: transform 0.2s ease-in-out;
			flex-grow: 1;
		}
		@include hover-device{
			&:hover{
				>.image{
					transform: scale(1.05);
				}
			}
		}
		>h3 {
			text-align: center;
			margin: 10px 0px;
			font-family: $font-family_1;
			font-weight: 600;
		}
	}
}
.moment {
	display: flex;
	flex-direction: column;
	padding: 10px;
	border: 1px solid #d0cdc7;
	background-color: $background-color_1;
	&:active {
		>.image {
			transform: scale(1.05);
		}
	}
	&:focus {
		>.image {
			transform: scale(1.05);
		}
	}
	>.label {
		color: $color_9;
		font-family: $font-family_1;
		font-weight: 600;
		padding: 10px;
		font-size: 1.5rem;
	}
	>.image {
		display: flex;
		align-items: center;
		padding: 5px;
		transition: transform 0.2s ease-in-out;
	}
	>a {
		font-family: $font-family_1;
		font-weight: 600;
		font-size: 1.5rem;
		line-height: 1.6rem;
		padding: 10px;
		flex-grow: 1;
	}
	>.footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		margin-top: 20px;
		>div {
			display: flex;
			flex-direction: column;
			color: $color_3;
			>span {
				&:first-child {
					font-size: 1.5rem;
					line-height: 1.6rem;
					font-family: $font-family_1;
					font-weight: 700;
				}
			}
			>.product-price {
				font-size: 4rem;
				line-height: 1;
				font-family: $font-family_1;
				font-weight: 700;
				>.price {
					font-size: 4rem;
					line-height: 1;
					font-family: $font-family_1;
					font-weight: 700;
				}
			}
		}
	
	}
}


#dropin-container {
	.adyen-checkout__dropdown__element {
		font-size: 1.2rem;
	}
	.adyen-checkout__payment-method__name {
		font-family: $font-family_1;
		font-weight: 400;
		letter-spacing: 0.026em;
		font-size: 1.4rem;
	}
	.adyen-checkout__dropdown__button__text {
		font-size: 1.2rem;
		font-family: $font-family_1;
		font-weight: 400;
		letter-spacing: 0.026em;
	}
	.adyen-checkout__label__text {
		font-size: 1.2rem;
		font-family: $font-family_1;
		font-weight: 400;
		letter-spacing: 0.026em;
	}
	.adyen-checkout__button {
		font-size: 1.2rem;
		font-family: $font-family_1;
		font-weight: 400;
		letter-spacing: 0.026em;
	}
	.adyen-checkout__button__icon {
		width: unset;
		height: unset;
	}
}
body.modal-open {
	overflow: hidden;
}
@media (min-width: 768px) {
	main {
		padding-top: 0;
	}
	.page-wrapper {
		.container {
			padding: 0 20px;
		}
	}
	[data-back-to-top] {
		margin: 24px 0;
	}
	.hide-desk {
		display: none !important;
	}
	h1 {
		font-size: 4.2rem;
		line-height: 4.6rem;
	}
	.h1 {
		font-size: 4.2rem;
		line-height: 4.6rem;
	}
	h2 {
		font-size: 2.8rem;
		line-height: 3rem;
	}
	.h2 {
		font-size: 2.8rem;
		line-height: 3rem;
	}
	.account {
		.accountmenu-sidebar {
			header {
				>.title {
					font-size: 2.8rem;
					line-height: 3rem;
				}
			}
			.upsell-dialog {
				.modal-window {
					.modal-header {
						header {
							>.title {
								font-size: 2rem;
								line-height: 2.2rem;
								font-size: 2.4rem;
							}
							>.blue.title {
								color: $color_2;
							}
						}
						.footer {
							.footer-bar {
								.col {
									header {
										>.title {
											margin-bottom: 15px;
										}
									}
								}
								header {
									>.title {
										font-size: 2.2rem;
									}
								}
							}
						}
					}
				}
			}
			.footer {
				.footer-bar {
					.col {
						.upsell-dialog {
							.modal-window {
								.modal-header {
									header {
										>.title {
											margin-bottom: 15px;
										}
									}
								}
							}
						}
					}
					.upsell-dialog {
						.modal-window {
							.modal-header {
								header {
									>.title {
										font-size: 2.2rem;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.product-wrapper {
		.product-detail {
			.product-title {
				.mobile-price {
					.product-price {
						font-size: 2.8rem;
						line-height: 3rem;
					}
					.price {
						font-size: 2.8rem;
						line-height: 3rem;
					}
					.upsell-dialog {
						.modal-window {
							.modal-header {
								.product-price {
									font-size: 2rem;
									line-height: 2.2rem;
									font-size: 2.4rem;
								}
								.price {
									font-size: 2rem;
									line-height: 2.2rem;
									font-size: 2.4rem;
								}
								.blue.product-price {
									color: $color_2;
								}
								.blue.price {
									color: $color_2;
								}
								.footer {
									.footer-bar {
										.col {
											.product-price {
												margin-bottom: 15px;
											}
											.price {
												margin-bottom: 15px;
											}
										}
										.product-price {
											font-size: 2.2rem;
										}
										.price {
											font-size: 2.2rem;
										}
									}
								}
							}
						}
					}
					.footer {
						.footer-bar {
							.col {
								.upsell-dialog {
									.modal-window {
										.modal-header {
											.product-price {
												margin-bottom: 15px;
											}
											.price {
												margin-bottom: 15px;
											}
										}
									}
								}
							}
							.upsell-dialog {
								.modal-window {
									.modal-header {
										.product-price {
											font-size: 2.2rem;
										}
										.price {
											font-size: 2.2rem;
										}
									}
								}
							}
						}
					}
					display: none;
				}
			}
		}
	}
	h3 {
		font-size: 2rem;
		line-height: 2.2rem;
	}
	.h3 {
		font-size: 2rem;
		line-height: 2.2rem;
	}
	
	.minicart-trigger {
		width: 100%;
		min-width: 100px;
		height: 40px;
		padding: 0 15px 0 10px;
		justify-content: space-between;
		.minicart-price {
			display: block;
		}
	}
	
	.text-and-image {
		grid-template-columns: 1fr 1fr;
		.image {
			position: relative;
			display: block;
			>img {
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}
	
	.m-shoppingcart {
		.step-navigation {
			display: block;
		}
		.shoppingcart-totals {
			flex-direction: row;
			align-items: center;
			.totals-row {
				margin-top: 0;
				max-width: 296px;
			}
		}
		.shoppingcart-footer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			.link {
				margin-top: 0;
			}
		}
	}
	.m-shoppingcart-line {
		padding: 20px;
		.product-info {
			.bottom {
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				.item-price {
					position: relative;
					right: auto;
					bottom: auto;
				}
			}
		}
	}
	.m-item-options {
		order: 1;
		flex-direction: row;
		width: auto;
		.price-per-piece {
			margin-top: 0;
			margin-left: 20px;
			.product-price {
				span {
					white-space: nowrap;
				}
			}
		}
	}
	.m-additional-info {
		margin: 0 0 0 20px;
		order: 2;
	}
	.accountmenu-trigger {
		width: 40px;
		height: 40px !important;
		margin-left: 0;
		&:hover {
			background-color: $background-color_1 !important;
			border: 1px solid #323232;
			border-bottom: 0;
		}
	}
	.accountmenu-trigger.active {
		background-color: $background-color_1;
		border: 1px solid #323232;
		border-bottom: 0;
		&:after {
			content: "";
			background-color: $background-color_1;
			border: 1px solid #323232;
			border-top: 0;
			border-bottom: 0;
			width: 40px;
			height: 20px;
			position: absolute;
			top: 35px;
			left: -1px;
			z-index: 31;
		}
	}
	.accountmenu-panel {
		top: 55px;
		right: 0;
		width: 255px;
		padding: 15px 0;
		border: 1px solid #323232;
		border-radius: 4px 0 4px 4px;
		>.accountmenu-inner {
			padding: 0;
		}
	}
	.saldo-checker {
		.saldo-activation {
			.form-group {
				max-width: 175px;
			}
			.btn-primary {
				width: auto;
			}
		}
	}
	.header {
		padding: 20px 0 10px 0;
		.header-wrapper {
			padding: 0 20px;
		}
		.header-links {
			display: block;
			visibility: visible;
		}
		.header-navigation {
			margin-left: 20px;
			.menu-toggle {
				display: none;
			}
			.main-navigation {
				position: relative;
				left: inherit;
				top: inherit;
				visibility: visible;
				height: 40px;
				height: auto;
				margin-top: auto;
				transition: all 0s;
				.nav {
					.nav-item {
						+ {
							.nav-item {
								margin-left: 20px;
							}
						}
					}
				}
				.top-links-mobile {
					display: none;
					visibility: hidden;
				}
			}
		}
	}
	.header.scrolled {
		padding: 10px 0;
		.header-logo {
			width: 40px;
		}
	}
	.header.scrolled-force {
		padding: 10px 0;
		.header-logo {
			width: 40px;
		}
	}
	.footer {
		margin: 0;
		.footer-bar {
			padding-left: 0;
			padding-right: 0;
			.col {
				.h3 {
					margin-bottom: 15px;
				}
				.upsell-dialog {
					.modal-window {
						.modal-header {
							.h2 {
								margin-bottom: 15px;
							}
							.account {
								.accountmenu-sidebar {
									header {
										>.title {
											margin-bottom: 15px;
										}
									}
								}
							}
							.product-wrapper {
								.product-detail {
									.product-title {
										.mobile-price {
											.product-price {
												margin-bottom: 15px;
											}
											.price {
												margin-bottom: 15px;
											}
										}
									}
								}
							}
						}
					}
				}
				+ {
					.col {
						margin-top: 0;
					}
				}
			}
			>.col {
				flex-direction: row;
			}
			.container {
				flex-direction: row;
			}
			.footer-contact {
				margin-bottom: 0;
			}
			.h3 {
				font-size: 2.2rem;
			}
			.upsell-dialog {
				.modal-window {
					.modal-header {
						.h2 {
							font-size: 2.2rem;
						}
						.account {
							.accountmenu-sidebar {
								header {
									>.title {
										font-size: 2.2rem;
									}
								}
							}
						}
						.product-wrapper {
							.product-detail {
								.product-title {
									.mobile-price {
										.product-price {
											font-size: 2.2rem;
										}
										.price {
											font-size: 2.2rem;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.footer-top {
			padding: 30px 0 10px;
			flex-direction: row;
			>div {
				+ {
					div {
						padding-top: 0;
						border: none;
					}
				}
			}
			.footer-payment {
				padding: 0;
			}
			.footer-social {
				padding: 0;
			}
		}
		.footer-bottom {
			display: flex;
			margin-left: -20px;
			margin-right: -20px;
			padding-left: 20px;
			padding-right: 20px;
			visibility: visible;
		}
		.footer-bottom-mobile {
			display: none;
			visibility: hidden;
		}
	}
	
	.section-grey {
		padding: 20px 0 40px;
	}
	.section-white {
		padding: 20px 0 40px;
	}
	.section-intro {
		padding-top: 20px;
	}
	.shop-hours {
		text-align: right;
	}
	.sidemenu {
		.h1 {
			&:before {
				content: attr(data-title);
			}
		}
	}
	.error-page {
		.grid {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.error-img {
				width: 40%;
				order: 2;
				img {
					max-width: 100%;
				}
			}
			.page-content {
				width: 50%;
				order: 1;
				.huge-h1 {
					font-size: 5rem;
				}
				.cta-block {
					.btn-primary {
						width: auto;
						+ {
							.btn-primary {
								margin-left: 10px;
								margin-top: 0;
							}
						}
					}
				}
			}
		}
	}
	.success-page {
		display: flex;
		justify-content: space-between;
		.content {
			width: 75%;
		}
		.sidebar-service {
			padding-left: 20px;
			width: 25%;
			min-width: 290px;
			margin-top: 0;
		}
	}
	.product-configurator {
		.default-options {
			.option {
				padding: 11px 20px 9px 20px !important;
			}
		}
		form {
			.base-options {
				flex-direction: row;
				.form-group {
					+ {
						.form-group {
							margin-left: 20px;
							margin-top: 0;
						}
					}
				}
				.product-quantity {
					width: 70px;
				}
				.product-value {
					width: 100px;
				}
			}
		}
	}
	.order-overview {
		>.order-list-header {
			display: flex;
		}
		>.order-list {
			>.order {
				>a {
					display: flex;
					>span {
						display: block;
						width: calc(100% / 4);
						.order-label {
							display: none;
						}
					}
				}
			}
		}
	}
	.order-detail {
		.m-order-detail-shoppingcart {
			.price-block {
				max-width: 296px;
				margin-left: auto;
			}
			.cartlines {
				>li {
					.item-info {
						flex-direction: row;
						>* {
							+ {
								* {
									margin-left: 20px;
								}
							}
						}
					}
					.item-price {
						position: relative;
						bottom: unset;
						right: unset;
					}
				}
			}
		}
	}
	// .moment-overview {
	// 	grid-template-columns: repeat(3, 1fr);
	// }
	.momentFiller {
		>* {
			&:first-child {
				font-size: 2rem;
			}
		}
	}
	.Moment {
		>.filters {
			display: flex;
		}
		>.body {
			>.product-overview {
				>.moment-overview {
					grid-template-columns: repeat(2, 1fr);
				}
			}
		}
	}
	.Editor {
		justify-content: flex-start;
		margin-top: 20px;
		flex: 1;
		.Image-picker {
			.modal-window {
				.modal-content {
					.images {
						>img {
							width: calc(33.333% - 12px);
						}
					}
				}
			}
		}
	}
	.product-wrapper.editor {
		.product-preview {
			.EditorGallery {
				.thumb {
					>img {
						padding: 10px;
					}
				}
			}
		}
		.product-configuration-mobile {
			display: none;
		}
	}
}
@media (max-width: 767px) {
	.hide-mob {
		display: none !important;
	}
	.hidden-xs {
		display: none !important;
	}
	.header {
		.header-navigation {
			.main-navigation.is-open {
				height: calc(100vh - 101px);
				visibility: visible;
				width: 100%;
			}
			.main-navigation {
				.nav {
					display: flex;
					flex-direction: column;
					padding: 0;
					.nav-item {
						.nav-link {
							line-height: 16px;
							padding: 12px 50px 11px 20px;
						}
					}
				}
			}
		}
	}
	.header.menu-open {
		.menu-toggle {
			background-color: $background-color_1;
			color: $color_2;
			border-radius: 4px 4px 0 0;
			box-shadow: none;
			&:after {
				content: "";
				position: absolute;
				top: 50px;
				left: 0;
				width: 100%;
				height: 10px;
				background-color: $background-color_1;
				display: block;
			}
			.hamburger {
				background-color: $background-color_6;
				background: none;
				&:after {
					background-color: $background-color_6;
					top: 0;
					transform: rotate(45deg);
				}
				&:before {
					background-color: $background-color_6;
					top: 0;
					transform: rotate(-45deg);
				}
			}
			.open-text {
				display: none;
			}
			.close-text {
				display: block;
			}
		}
		.main-navigation {
			padding: 20px 0;
		}
		.backdrop {
			opacity: 1;
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: $background-color_18;
			z-index: 10;
			transition: all 0.3s ease-out;
		}
	}
	
	
	
}



